@import url("https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Judson", serif;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
body {
  color: #222;
  height: 100vh;
  font-size: 16px;
  background: #ddd;
}
/* common css */
.cd-section {
  width: 100%;
  height: 100vh;
}
.cd-section > div {
  height: 100%;
  position: relative;
}
.content {
  background: url("./img_project/AdobeStock_248310678.jpeg") no-repeat center
    center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  color: #222;
}
header {
  background: url("./img_project/AdobeStock_248310678.jpeg") no-repeat center
    center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 3.5rem;
}
.gnb_inner {
  width: 100%;
  height: 6rem;
  line-height: 3.75em;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #222;
}
.logo a {
  font-size: 4rem;
  font-weight: bold;
  color: #222;
}
.gnb .menu {
  display: flex;
  gap: 5rem;
}
.gnb li a {
  color: #222;
  font-size: 2.188rem;
}
.trigger {
  width: 2.188em;
  height: 20px;
  position: relative;
  display: none;
}
.trigger span {
  display: block;
  width: 100%;
  height: 2px;
  background: #222;
  position: absolute;
}
.trigger span:nth-child(1) {
  top: 0;
}
.trigger span:nth-child(2) {
  top: 50%;
}
.trigger span:nth-child(3) {
  top: 100%;
}

/* home */
.home_inner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.barcode {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: barcode 6s linear both;
  z-index: 1;
}
@keyframes barcode {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.barcode span {
  width: 230px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0.5em;
  color: #222;
}
.barcode span:nth-child(1) {
  letter-spacing: 1.18em;
  padding-left: 2px;
}
.barcode_block {
  position: relative;
}
.barcode .barcode_block span {
  display: inline-block;
  height: 140px;
  background: #222;
}
.barcode .barcode_block span:nth-child(1) {
  width: 14px;
}
.barcode .barcode_block span:nth-child(2) {
  width: 9px;
}
.barcode .barcode_block span:nth-child(3) {
  width: 9px;
}
.barcode .barcode_block span:nth-child(4) {
  width: 3px;
}
.barcode .barcode_block span:nth-child(5) {
  width: 14px;
}
.barcode .barcode_block span:nth-child(6) {
  width: 14px;
}
.barcode .barcode_block span:nth-child(7) {
  width: 9px;
}
.barcode .barcode_block span:nth-child(8) {
  width: 4px;
}
.barcode .barcode_block span:nth-child(9) {
  width: 16px;
}
.barcode .barcode_block span:nth-child(10) {
  width: 9px;
}
.barcode .barcode_block span:nth-child(11) {
  width: 3px;
}
.barcode .barcode_block span:nth-child(12) {
  width: 3px;
}
.barcode .barcode_block span:nth-child(13) {
  width: 5px;
}
.barcode .barcode_block span:nth-child(14) {
  width: 9px;
}
.barcode .barcode_block span:nth-child(15) {
  width: 9px;
}
.barcode .barcode_block span:nth-child(16) {
  width: 7px;
}
.barcode .barcode_block span:nth-child(17) {
  width: 15px;
}
.barcode .barcode_block span:nth-child(18) {
  width: 10px;
}
.barcode .barcode_block span.heart {
  background: url("./img_project/Union.png") no-repeat center center;
  background-size: cover;
  width: 100px;
  height: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}
.barcode .barcode_block span.scanner {
  display: block;
  width: 336px;
  height: 3px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #f00;
  animation: scanning 3s 1s linear both;
}

@keyframes scanning {
  0% {
    top: 0;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 96%;
  }
}
.main_home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
  animation: opacity-image 1s 6s ease-in both;
}
@keyframes opacity-image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main_home {
  display: flex;
}
.main_home h1 {
  width: 96%;
  font-size: 13rem;
  letter-spacing: 0.5em;
  text-align: center;
  margin-top: 42px;
  padding-left: 45px;
  padding-bottom: 20px;
  position: relative;
}
.main_home h1::before,
.main_home h1::after {
  content: "";
  width: 700px;
  height: 0.5px;
  background: #222;
  position: absolute;
}
.main_home h1::before {
  bottom: 0;
  left: 0;
}
.main_home h1::after {
  bottom: 0;
  right: 0;
}
.main_home img {
  width: 350px;
  height: 600px;
  border-radius: 200px;
  margin: 5px 0;
  object-fit: cover;
  object-position: center;
  filter: grayscale(0.3);
}
.home_bottom {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
  font-size: 30px;
  width: 90%;
}
.home_bottom em {
  font-style: normal;
  display: inline-block;
  margin-left: -5%;
}

/* about */
.about_inner {
  width: 96%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}
.about_inner h1 {
  margin-top: 7rem;
  font-size: 7.5rem;
  padding: 25px 40px;
  border-bottom: 1px solid #222;
}
.about_contents {
  height: 79%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}
.about_contents .photo {
  height: 100%;
  flex: 3;
  text-align: center;
}
.photo img {
  width: 75%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: grayscale(1);
}
.about_desc {
  text-align: left;
  padding-top: 100px;
  position: relative;
  flex: 4;
}
.about_desc span {
  display: block;
  font-size: 5rem;
  margin-bottom: 1.1em;
}
.about_desc span > b {
  width: 10%;
  height: 100px;
  background: url("./img_project/D.png") no-repeat center center;
  display: inline-block;
  background-size: cover;
}
.about_desc h2 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 3rem;
  position: relative;
}
.about_desc h2 > em {
  font-style: normal;
  text-decoration: #f00 underline;
}
.about_desc p {
  font-size: 2rem;
  letter-spacing: 0.2em;
  margin-bottom: 4rem;
}

.about_desc i.fas {
  font-size: 3.5rem;
  text-align: center;
  margin-left: 25rem;
  position: relative;
  animation: ani 1s linear infinite;
}
.about_desc i.fas::after {
  content: "스크롤을 내려주세요 !";
  font-size: 1.3rem;
  width: 130px;
  position: absolute;
  bottom: -20px;
  left: -45px;
}
@keyframes ani {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(10px);
  }
}
/*favorite*/
.favorite_inner {
  width: 84%;
  height: 94vh;
  margin: 60px auto;
  position: relative;
  overflow: hidden;
}
.favorite_contents {
  margin-top: 10%;
  position: relative;
}
.favorite_contents h1 {
  font-size: 12rem;
  margin-bottom: 3rem;
  font-weight: bold;
  margin-left: 130px;
}
.favorite_contents h1::before {
  content: "";
  background: url("./img_project/M.png") no-repeat center center;
  background-size: cover;
  width: 130px;
  height: 100px;
  display: inline-block;
  transform-origin: center;
  transform: rotate(190deg);
  position: absolute;
  top: 1px;
  left: 0;
}
.favorite_contents h2 {
  width: 600px;
  font-size: 10rem;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  color: #636363;
  transition: 0.5s;
}
.favorite_contents h2:hover {
  transform: translate(4%);
}
.favorite_contents h2:nth-of-type(1) {
  color: #636363;
}
.slide_img {
  width: 35%;
  display: flex;
  position: absolute;
  top: 40px;
  right: 0;
  gap: 15px;
}
.top_img,
.bottom_img {
  animation: 20s linear infinite;
  animation-direction: alternate;
  display: grid;
  grid-template-columns: 1fr;
}
.top_img {
  animation-name: slidedown;
}
.bottom_img {
  animation-name: slideup;
}
.bottom_img:hover,
.top_img:hover {
  animation-play-state: paused;
}
.top_img img,
.bottom_img img {
  width: 250px;
  height: 200px;
  margin-bottom: 15px;
  filter: grayscale(1);
  border-radius: 3px;
  transition: all 0.4s;
}
.top_img img:hover,
.bottom_img img:hover {
  filter: grayscale(0);
  transform: scale(1.07);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@keyframes slidedown {
  0% {
    transform: translateY(-31%);
  }
  100% {
    transform: translateY(-3%);
  }
}

@keyframes slideup {
  0% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(-31%);
  }
}

/* timeline */
.timeline_inner {
  width: 100%;
  height: 92vh;
  /* overflow: hidden; */
  position: relative;
  margin-top: 3rem;
}
.tabs {
  width: 300%;
  height: 100vh;
  transition: 0.5s;
}
.tab {
  width: 33.33%;
  height: 100%;
  float: left;
}
.tab > div {
  height: 100%;
}
.timeline_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: -20px;
}

.timeline_content .text_img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-left: 200px;
}
.timeline_aside {
  width: 15%;
  height: 100vh;
  background: url("./img_project/AdobeStock_248310678.jpeg") no-repeat center
    left;
  background-size: cover;
  box-shadow: 3px 0 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  z-index: 1;
}
.timeline_aside a {
  font-size: 6rem;
  display: inline-block;
  position: absolute;
  top: 100px;
  left: -60px;
  transform-origin: right top;
  transform: rotate(-90deg);
  color: #222;
}
input[name="tabmenu"] {
  display: none;
}
.btn {
  position: absolute;
  top: 50px;
  left: 10%;
}
.btn label {
  display: block;
  background: #cb4c3b;
  width: 180px;
  height: 59px;
  margin-top: 18px;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
}
.btn label[for="tab1"] {
  background: #cb4c3b;
}
.btn label[for="tab2"] {
  background: #d97b7b;
}
.btn label[for="tab3"] {
  background: #edbfbf;
}
input[id="tab1"]:checked ~ .btn label[for="tab1"] {
  margin-left: 50px;
}
input[id="tab2"]:checked ~ .btn label[for="tab2"] {
  margin-left: 50px;
}
input[id="tab3"]:checked ~ .btn label[for="tab3"] {
  margin-left: 50px;
}
input[id="tab1"]:checked ~ .tabs {
  margin-left: 0;
}
input[id="tab2"]:checked ~ .tabs {
  margin-left: -100%;
}
input[id="tab3"]:checked ~ .tabs {
  margin-left: -200%;
}

.timeline_line {
  width: 100%;
  height: 50px;
  position: relative;
}
.timeline_line span:nth-child(1) {
  display: block;
  width: 100%;
  height: 2px;
  background: #222;
  position: absolute;
  top: 0;
}
.timeline_line span:nth-child(2) {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #222;
  display: block;
  position: absolute;
  top: -4px;
  left: 50%;
}
.timeline_line span:nth-child(2)::before {
  content: "";
  display: block;
  width: 1px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 3.5px;
  background: #222;
}
.contents_img {
  width: 430px;
  height: 550px;
  position: relative;
}
.contents_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin-right: 40px;
  filter: grayscale(1);
  transition: 0.4s;
  position: absolute;
}
.contents_img img:hover {
  filter: grayscale(0);
}
.contents_img .img_2 {
  display: none;
  opacity: 1;
  filter: grayscale(1);
  transform: rotate(0deg);
}

.contents_desc {
  height: 500px;
}
.contents_desc h2 {
  font-size: 50px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 40px;
  line-height: 1.4em;
}
.contents_desc span {
  font-size: 30px;
  display: block;
  margin-bottom: 30px;
}
.contents_desc p {
  font-size: 18px;
  line-height: 2em;
}

/* project */
.project_inner {
  width: 96%;
  margin: 0 auto;
  height: 92vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 180px 39.7% 39.7%;
  margin-top: 60px;
}
.project_header {
  height: 80%;
  border-bottom: 1px solid #222;
  display: flex;
  justify-content: space-between;
  align-items: end;
  grid-column: 1/3;
  grid-row: 1/2;
}
.project_header > span {
  width: 30%;
  font-size: 3rem;
  margin-left: 30px;
  margin-bottom: 10px;
}
.project_header > h1 {
  width: 35%;
  height: 85%;
  font-size: 8rem;
  color: #fff;
  letter-spacing: 0.2em;
  line-height: 120px;
  padding: 0px 100px;
  padding-left: 120px;
  margin-bottom: 10px;
  text-align: center;
  background: #4a4a4a;
}
.project_header > em {
  width: 30%;
  font-style: normal;
  font-size: 25px;
  text-align: end;
  margin-right: 30px;
  margin-bottom: 10px;
}
#project .naver {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: -37px;
  padding: 40px;
  border-right: 1px solid #222;
  border-bottom: 1px solid #222;
}
#project .aesop {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  margin-top: -37px;
  padding: 40px;
  border-bottom: 1px solid #222;
}

#project .aesop img {
  width: 400px;
  height: 90%;
  object-fit: cover;
  object-position: top;
}
.aesop_desc h1 {
  font-size: 5rem;
  display: inline-block;
  margin-bottom: 10px;
}
.aesop_desc span:nth-of-type(1) {
  font-size: 2rem;
  margin-top: -5px;
  display: inline-block;
  color: #222;
  font-weight: bold;
  margin-left: 5px;
}
.aesop_desc span:nth-of-type(2) {
  font-size: 3rem;
  display: block;
  color: #787878;
  margin-bottom: 10px;
}
#project .kakao img:hover {
  object-position: right;
}
#project .naver img {
  width: 500px;
  height: 90%;
  border: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  filter: grayscale(0.8);
  object-fit: cover;
  object-position: top;
  transition: 2s;
}
#project .naver img:hover {
  object-position: bottom;
}

#project .kakao {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 40px;
  border-right: 1px solid #222;
}
#project .kakao img {
  width: 300px;
  height: 80%;
  flex: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  object-fit: cover;
  object-position: left;
  filter: grayscale(0.8);
  transition: 2s;
}
.kakao_desc {
  flex: 1;
  padding-left: 20px;
}

.naver_desc h1,
.kakao_desc h1,
.apple_desc h1 {
  font-size: 5rem;
  margin-bottom: 20px;
}

.naver_desc span,
.kakao_desc span,
.apple_desc span {
  font-size: 3rem;
  display: block;
  margin-bottom: 10px;
  color: #787878;
}
.naver_desc p,
.aesop_desc p,
.kakao_desc p,
.apple_desc p {
  font-size: 1.5rem;
  line-height: 1.5em;
}

#project .apple {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 40px;
}
#project .apple img {
  order: 1;
  width: 400px;
  height: 80%;
  flex: 1;
  object-fit: cover;
  object-position: top;
  filter: grayscale(0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#project .apple img:hover {
  object-position: bottom;
}
.apple_desc {
  order: 2;
  flex: 1;
}

.viewmore {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  background: #ddd;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.viewmore:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
.viewmore a {
  color: #222;
  font-size: 16px;
  font-weight: bold;
}
.viewmore a::after {
  content: "\f178";
  font-family: fontawesome;
  font-weight: normal;
  margin-left: 5px;
  transition: 0.3s;
}
.viewmore:hover a::after {
  margin-left: 20px;
}

/* contact */
.contact_inner {
  width: 100%;
  height: 100vh;
}
.contact_inner span {
  font-size: 80px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 90px;
  letter-spacing: 0.07em;
}
.contact_inner span em {
  font-style: normal;
  color: #fff;
  text-shadow: -3px 2px 0px #000;
}
.contact_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  gap: 50px;
}
.contact_info {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.contact_info img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  filter: grayscale(0.3);
  object-fit: cover;
  object-position: center;
  margin-bottom: 25px;
}
.contact_info h3 {
  font-size: 30px;
  margin-bottom: 15px;
}
.contact_info #name {
  cursor: pointer;
}
.sns_icon {
  text-align: center;
}
.contact_info .sns_icon i {
  margin: 10px;
  font-size: 40px;
  color: #222;
  cursor: pointer;
  transition: 0.5s;
}
.contact_info .sns_icon a:hover i {
  transform: rotateY(360deg);
  color: #d97b7b;
}
.contact_form {
  order: 2;
  flex: 1;
}
.contact_form form {
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.contact_form input[id="name"],
.contact_form input[id="email"],
.contact_form input[id="phone"],
textarea {
  margin-bottom: 10px;
  padding: 12px;
  border: none;
  outline: none;
  border: 1px solid #d7d7d7;
  transition: 0.3s;
}
.contact_form input[id="name"]:hover,
.contact_form input[id="email"]:hover,
.contact_form input[id="phone"]:hover,
textarea:hover {
  box-shadow: 0 0 5px #7f7d7c;
}
input[type="submit"] {
  width: 200px;
  padding: 10px 15px;
  margin: 10px 0;
  background: #060818;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
input[type="submit"]:hover {
  background: #d97b7b;
  color: #fff;
}

/* nav */
nav {
  animation: opacity-image 1s 6s ease-in both;
}
nav li:nth-child(1) a::before,
nav li:nth-child(2) a::before {
  content: "\f078";
  font-family: fontawesome;
  font-size: 40px;
  border: 1px solid #ddd;
  border-radius: 50%;
  color: #b1b1b1;
}

nav li:nth-child(1):hover a::before,
nav li:nth-child(2):hover a::before {
  color: #222;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* featherlight */

.featherlight-content {
  width: 100%;
  height: 100%;
  margin-left: 0 !important;
  max-height: 100% !important;
  position: relative;
}

.featherlight-content .featherlight-inner {
  width: 100%;
  height: 100%;
}
.featherlight-close-icon {
  position: absolute;
  top: 30px !important;
  right: 50px !important;
  width: 25px;
  font-size: 40px;
}

.featherlight-close-icon:hover {
  color: crimson !important;
}

/* tablet */
@media all and (min-width: 768px) and (max-width: 1000px) {
  .content {
    width: 100%;
    height: 210vh;
    background-repeat: repeat;
    background-size: contain;
    position: relative;
  }
  header {
    background: url(./img_project/AdobeStock_248310678.jpeg)
    center center no-repeat;
    width: 100%;
  }
  .logo a {
    font-size: 30px;
  }
  .gnb_inner {
    padding: 0 30px;
  }
  .gnb .menu {
    background: url("./img_project/AdobeStock_248310678.jpeg") no-repeat center
      center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    position: absolute;
    right: -100%;
    opacity: 0;
    transition: 0.5s;
  }
  .gnb .menu.show {
    width: 100%;
    right: 0;
    opacity: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .gnb .menu a {
    font-size: 30px;
    cursor: pointer;
  }
  .gnb .menu a::after {
    content: "";
    width: 0%;
    height: 1px;
    background: #000;
    display: block;
    transition: 0.3s;
  }
  .gnb .menu a:hover::after {
    width: 100%;
  }
  .gnb_inner {
    background: url("./img_project/AdobeStock_248310678.jpeg") no-repeat center
      center;
    background-size: cover;
    position: absolute;
    left: 0;
  }
  .trigger {
    display: block;
    position: absolute;
    top: 22px;
    right: 30px;
    transition: 0.5s;
  }
  .trigger span {
    transition: 0.5s;
  }
  .trigger.active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 50%;
  }
  .trigger.active span:nth-child(2) {
    opacity: 0;
  }
  .trigger.active span:nth-child(3) {
    transform: rotate(45deg);
    top: 50%;
  }
  #home .content {
    height: 100vh;
  }
  .home_inner {
    width: 84%;
    margin: 0 auto;
    text-align: center;
  }
  .main_home h1 {
    width: 100%;
    font-size: 40px;
    margin-top: 40px;
    padding: 20px 0 20px 28px;
  }
  .main_home h1::before {
    display: none;
  }
  .main_home h1::after {
    width: 100%;
    left: 0;
  }
  .main_home img {
    width: 280px;
    height: 500px;
  }
  .home_bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .home_bottom em {
    margin-left: 0;
    margin: 20px 0;
  }

  /* about */
  #about.cd-section {
    height: 105vh;
  }
  .about_inner {
    width: 84%;
  }
  .about_inner h1 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .about_contents {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    gap: 0;
  }
  .about_contents .photo {
    width: 80%;
    height: 60%;
  }
  .about_contents .photo img {
    width: 90%;
    height: 100%;
  }
  .about_desc {
    text-align: center;
  }
  .about_desc span {
    margin-top: -90px;
    margin-bottom: 30px;
  }
  .about_desc span > b {
    width: 60px;
    height: 70px;
    margin-right: 10px;
  }
  .about_desc h2 {
    font-size: 30px;
    font-weight: bold;
  }
  .about_desc h2::before {
    width: 250px;
    left: 48px;
  }
  .about_desc p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .about_desc i {
    display: none;
  }

  /* favorite */
  #favorite.cd-section {
    height: 105vh;
  }
  .favorite_inner {
    width: 100%;
    margin: 0px auto;
    position: static;
  }
  .favorite_contents {
    width: 100%;
    height: 30%;
    transform: translate(34%, 110%);
  }

  .favorite_contents h1 {
    font-size: 45px;
    margin-top: -50px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-left: 75px;
  }
  .favorite_contents h1::before {
    width: 70px;
    height: 70px;
    top: -30px;
  }
  .favorite_contents h2 {
    font-size: 51px;
  }
  .slide_img {
    width: 100%;
    height: 60%;
    padding-top: 40px;
    display: grid;
    overflow: hidden;
  }
  .top_img,
  .bottom_img {
    width: 100%;
    height: 160px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
  }
  .top_img {
    animation-name: slideright;
  }
  .bottom_img {
    animation-name: slideleft;
  }

  @keyframes slideright {
    0% {
      transform: translateX(-20%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes slideleft {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-20%);
    }
  }
  .top_img img,
  .bottom_img img {
    width: 180px;
    height: 150px;
    margin-bottom: 15px;
    object-fit: cover;
    object-position: center;
  }
  /* timeline */
  .timeline_inner {
    width: 100%;
    height: 100vh;
  }
  .timeline_aside {
    display: none;
  }
  .timeline_line {
    top: -30px;
  }
  .btn {
    top: 30px;
    left: -90px;
  }
  .btn label {
    height: 45px;
    margin-top: 10px;
  }
  .timeline_content {
    justify-content: center;
    margin-top: 100px;
  }
  .timeline_content .text_img {
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
  }
  .timeline_content.text_img {
    margin-top: 30px;
    margin-left: 0;
    gap: 0px;
  }
  .contents_img {
    width: 300px;
    height: 400px;
  }
  .contents_desc {
    text-align: center;
    margin-top: -20px;
  }
  .contents_desc h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .contents_desc span {
    font-size: 25px;
    display: block;
    margin-bottom: 30px;
  }
  .contents_desc p {
    font-size: 16px;
    line-height: 2em;
  }

  /* project */
  #project.cd-section {
    width: 100%;
    height: 210vh;
  }
  .project_inner {
    width: 95%;
    height: 250vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 140px 390px 420px 390px 390px ;
    border: none;
  }
  .project_header {
    grid-column: 1 /2;
    justify-content: center;
    margin-left: 0;
    padding-left: 0;
  }
  .project_header > span,
  .project_header > em {
    display: none;
  }
  .project_header > h1 {
    font-size: 50px;
    width: 400px;
    height: 90px;
    line-height: 90px;
    padding: 0;
    padding-left: 15px;
  }
  #project .naver {
    width: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 0;
    padding-top: 20px;
    border-right: none;
  }
  #project .naver img {
    width: 550px;
    height: 300px;
  }
  #project .aesop {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-top: 0px;
  }
  #project .aesop img {
    width: 360px;
    height: 320px;
  }

  .aesop .aesop_desc span:nth-last-of-type(1) {
    font-size: 2.5rem;
  }
  #project .kakao {
    width: 100%;
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #222;
    margin-top: 0px;
    border-right: none;
  }
  #project .kakao img {
    width: 350px;
    height: 300px;
  }
  .naver_desc,
  .apple_desc {
    height: 100%;
    text-align: left;
  }
  .kakao_desc {
    height: 80%;
  }
  .kakao_desc h1,
  .apple_desc h1 {
    font-size: 45px;
    margin-bottom: 0;
  }
  .kakao_desc span,
  .apple_desc span {
    font-size: 25px;
    line-height: 1.5em;
    margin-bottom: 0;
    color: #787878;
  }
  .aesop_desc p {
    font-size: 17px;
    color: #000;
  }
  .naver_desc p,
  .kakao_desc p,
  .apple_desc p {
    font-size: 19px;
    color: #000;
  }
  #project .apple {
    width: 100%;
    flex-direction: row;
    grid-column: 1/2;
    grid-row: 5/6;
    border-top: 1px solid #000;
  }
  #project .apple img {
    width: 360px;
    height: 300px;
  }
  /* contact */
  #contact .content {
    height: 130vh;
  }
  .contact_inner {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    height: 120vh;
  }
  .contact_inner span {
    font-size: 65px;
    cursor: pointer;
  }
  .contact_inner em {
    display: none;
  }
  .contact_content {
    flex-direction: column;
  }
  .contact_info {
    order: 2;
  }
  .contact_form {
    margin-top: 250px;
    width: 90%;
    order: 1;
  }
  .contact_form form {
    width: 120%;
  }
  .contact_form input[id="name"],
  .contact_form input[id="email"],
  .contact_form input[id="phone"],
  textarea {
    width: 80%;
  }
  input[type="submit"] {
    width: 80%;
  }
  nav {
    display: none;
  }
}
/* tablet */
/* @media all and (min-width: 767px) and (max-width: 1049px) {
  .content {
    width: 100%;
    height: 210vh;
    background-repeat: repeat;
    background-size: contain;
    position: relative;
  }
  header {
    width: 100%;
    margin: 0 auto;
  }
  .logo a {
    font-size: 40px;
  }
  .gnb .menu {
    background: url("./img_project/AdobeStock_248310678.jpeg") no-repeat center
      center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    position: absolute;
    right: -100%;
    opacity: 0;
    transition: 0.5s;
  }
  .gnb .menu.show {
    width: 100%;
    right: 0;
    opacity: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .gnb .menu a {
    font-size: 50px;
    cursor: pointer;
  }
  .gnb .menu li:hover a {
    text-decoration: underline;
  }
  .gnb_inner {
    background: url("./img_project/AdobeStock_248310678.jpeg") no-repeat center
      center;
    background-size: cover;
    position: relative;
  }
  .trigger {
    display: block;
    position: absolute;
    top: 22px;
    right: 0px;
    transition: 0.5s;
  }
  .trigger span {
    transition: 0.5s;
  }
  .trigger.active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 50%;
  }
  .trigger.active span:nth-child(2) {
    opacity: 0;
  }
  .trigger.active span:nth-child(3) {
    transform: rotate(45deg);
    top: 50%;
  }
  #home .content {
    height: 100vh;
  }
  .home_inner {
    width: 92%;
    margin: 0 auto;
    text-align: center;
  }
  .main_home h1 {
    width: 100%;
    font-size: 60px;
    margin-top: 40px;
    padding: 10px 0 40px 30px;
  }
  .main_home h1::before {
    display: none;
  }
  .main_home h1::after {
    width: 100%;
    left: 0;
  }
  .main_home img {
    width: 290px;
    height: 510px;
  }
  .home_bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .home_bottom em {
    margin-left: 0;
    margin: 20px 0;
  }

  /* about */
/* #about.cd-section {
    height: 105vh;
  }
  .about_inner {
    width: 92%;
  }
  .about_inner h1 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .about_contents {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    gap: 10px;
  }
  .about_contents .photo {
    width: 80%;
    height: 60%;
  }
  .about_contents .photo img {
    width: 90%;
    height: 100%;
  }
  .about_desc {
    text-align: center;
  }
  .about_desc span {
    margin-top: -90px;
    margin-bottom: 30px;
  }
  .about_desc span > b {
    width: 60px;
    height: 70px;
    margin-right: 10px;
  }

  .about_desc h2 {
    font-size: 33px;
    font-weight: bold;
    line-height: 1.5em;
  }
  .about_desc h2::before {
    width: 250px;
    left: 48px;
  }
  .about_desc p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .about_desc i {
    display: none;
  }

  /* favorite */
/*#favorite.cd-section {
    height: 105vh;
  }
  .favorite_inner {
    width: 100%;
    margin: 0px auto;
    position: static;
  }
  .favorite_contents {
    width: 100%;
    height: 30%;
    transform: translate(30%, 120%);
  }

  .favorite_contents h1 {
    font-size: 45px;
    margin-top: -50px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-left: 75px;
  }
  .favorite_contents h1::before {
    width: 70px;
    height: 70px;
    top: -20px;
  }
  .favorite_contents h2 {
    font-size: 51px;
  }
  .slide_img {
    width: 100%;
    height: 60%;
    padding-top: 40px;
    display: grid;
    overflow: hidden;
  }
  .top_img,
  .bottom_img {
    width: 100%;
    height: 160px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
  }
  .top_img {
    animation-name: slideright;
  }
  .bottom_img {
    animation-name: slideleft;
  }

  @keyframes slideright {
    0% {
      transform: translateX(-28%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes slideleft {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-28%);
    }
  }
  .top_img img,
  .bottom_img img {
    width: 180px;
    height: 150px;
    margin-bottom: 15px;
    object-fit: cover;
    object-position: center;
  }
  /* timeline */
/*.timeline_inner {
    width: 100%;
    height: 100vh;
  }
  .timeline_aside {
    display: none;
  }
  .timeline_line {
    top: -30px;
  }
  .btn {
    top: 40px;
    left: -100px;
  }
  .timeline_content {
    justify-content: center;
    margin-top: 100px;
  }
  .timeline_content .text_img {
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
  }
  .timeline_content.text_img {
    margin-top: 30px;
    margin-left: 0;
    gap: 0px;
  }
  .contents_img {
    width: 450px;
    height: 550px;
  }
  .contents_desc {
    text-align: center;
    margin-top: -20px;
  }
  .contents_desc h2 {
    font-size: 55px;
    margin-bottom: 20px;
  }
  .contents_desc span {
    font-size: 35px;
    display: block;
    margin-bottom: 30px;
  }
  .contents_desc p {
    font-size: 20px;
    line-height: 2em;
  }*/

/* project */
/*#project.cd-section {
    width: 100%;
    height: 210vh;
  }
  .project_inner {
    width: 95%;
    height: 200vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 140px 1fr 1fr 1fr;
    border: none;
  }
  .project_header {
    grid-column: 1 /2;
    justify-content: center;
    margin-left: 0;
    padding-left: 0;
  }
  .project_header > span,
  .project_header > em {
    display: none;
  }
  .project_header > h1 {
    font-size: 70px;
    width: 500px;
    height: 100px;
    line-height: 90px;
    padding: 0;
    padding-left: 15px;
  }
  #project .naver {
    width: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 0;
    padding-top: 50px;
    border-right: none;
  }
  #project .naver img {
    height: 300px;
  }
  #project .kakao {
    width: 100%;
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #222;
    margin-top: 0px;
    padding-top: 60px;
  }
  #project .kakao img {
    width: 80%;
    height: 300px;
  }
  .kakao_desc {
    padding-left: 0;
  }
  .naver_desc,
  .kakao_desc,
  .apple_desc {
    height: 25%;
    margin-top: 20px;
    text-align: center;
  }
  .naver_descn h1,
  .kakao_desc h1,
  .apple_desc h1 {
    font-size: 65px;
    margin-bottom: 0;
  }
  .naver_desc span,
  .kakao_desc span,
  .apple_desc span {
    font-size: 35px;
    line-height: 1.5em;
    margin-bottom: 0;
    color: #787878;
  }
  .naver_desc p,
  .kakao_desc p,
  .apple_desc p {
    font-size: 25px;
  }
  #project .apple {
    width: 100%;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 4/5;
    padding-top: 60px;
  }
  #project .apple img {
    width: 80%;
    height: 300px;
  }
  .viewmore a {
    font-size: 28px;
  }*/
/* contact */
/*#contact .content {
    height: 130vh;
  }
  .contact_inner {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    height: 120vh;
  }
  .contact_inner span {
    font-size: 80px;
    cursor: pointer;
  }
  .contact_inner em {
    display: none;
  }
  .contact_content {
    flex-direction: column;
  }
  .contact_info {
    order: 2;
  }
  .contact_info img {
    width: 200px;
    height: 200px;
  }
  .contact_info h3 {
    font-size: 35px;
  }
  .contact_info .sns_icon i {
    font-size: 50px;
  }
  .contact_form {
    margin-top: 250px;
    width: 90%;
    order: 1;
  }
  .contact_form form {
    width: 120%;
  }
  .contact_form input[id="name"],
  .contact_form input[id="email"],
  .contact_form input[id="phone"],
  textarea {
    width: 80%;
    padding: 18px;
  }
  input[type="submit"] {
    width: 80%;
    padding: 18px;
  }
  nav {
    display: none;
  }
}  */

/* MObile(iPhone XR) */
@media all and (min-width: 380px) and (max-width: 767px) {
  .content {
    width: 100%;
    height: 250vh;
    background-repeat: repeat;
    background-size: contain;
    position: relative;
  }
  header {
    width: 100%;
    margin: 0 auto;
  }

  .logo a {
    font-size: 30px;
  }
  .gnb .menu {
    background: url("./img_project/AdobeStock_248310678.jpeg") no-repeat center
      center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    position: absolute;
    right: -100%;
    opacity: 0;
    transition: 0.5s;
  }
  .gnb .menu.show {
    width: 100%;
    right: 0;
    opacity: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .gnb .menu a {
    font-size: 30px;
    cursor: pointer;
  }
  .gnb .menu a::after {
    content: "";
    width: 0%;
    height: 1px;
    background: #000;
    display: block;
    transition: 0.3s;
  }
  .gnb .menu a:hover::after {
    width: 100%;
  }
  
  .gnb_inner {
    background: url("./img_project/AdobeStock_248310678.jpeg") no-repeat center
      center;
    background-size: cover;
    position: relative;
  }
  .trigger {
    display: block;
    position: absolute;
    top: 22px;
    right: 0px;
    transition: 0.5s;
  }
  .trigger span {
    transition: 0.5s;
  }
  .trigger.active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 50%;
  }
  .trigger.active span:nth-child(2) {
    opacity: 0;
  }
  .trigger.active span:nth-child(3) {
    transform: rotate(45deg);
    top: 50%;
  }
  #home .content {
    height: 100vh;
  }
  .home_inner {
    width: 84%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
  }
  .main_home h1 {
    width: 100%;
    font-size: 3.5rem;
    margin-top: 40px;
    padding: 20px 0 20px 24px;
  }
  .main_home h1::before {
    display: none;
  }
  .main_home h1::after {
    width: 100%;
    left: 0;
  }
  .main_home img {
    width: 260px;
    height: 450px;
  }
  .home_bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .home_bottom em {
    margin-left: 0;
    margin: 20px 0;
  }

  /* about */
  #about.cd-section {
    height: 120vh;
  }
  .about_inner {
    width: 84%;
  }
  .about_inner h1 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .about_contents {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    gap: 0;
  }
  .about_contents .photo {
    width: 80%;
    height: 60%;
  }
  .about_contents .photo img {
    width: 90%;
    height: 100%;
  }
  .about_desc {
    text-align: center;
  }
  .about_desc span {
    font-size: 30px;
    margin-top: -90px;
    margin-bottom: 30px;
  }
  .about_desc span > b {
    width: 60px;
    height: 70px;
    margin-right: 10px;
  }
  .about_desc h2 {
    font-size: 29px;
    font-weight: bold;
  }
  .about_desc h2::before {
    width: 250px;
    left: 48px;
  }
  .about_desc p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .about_desc i {
    display: none;
  }

  /* favorite */
  #favorite.cd-section {
    height: 110vh;
  }
  .favorite_inner {
    width: 100%;
    margin: 0px auto;
  }
  .favorite_contents {
    width: 100%;
    height: 30%;
    transform: translate(25%, 110%);
  }
  .favorite_contents h1 {
    font-size: 46px;
    font-weight: bold;
    margin-left: 75px;
    margin-bottom: 10px;
  }
  .favorite_contents h1::before {
    width: 70px;
    height: 70px;
    top: -20px;
  }
  .favorite_contents h2 {
    font-size: 51px;
  }
  .slide_img {
    width: 100%;
    height: 145%;
    padding-top: 40px;
    display: grid;
  }
  .top_img,
  .bottom_img {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
  }
  .top_img {
    animation-name: slideright;
  }
  .bottom_img {
    animation-name: slideleft;
  }

  @keyframes slideright {
    0% {
      transform: translateX(-40%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes slideleft {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-40%);
    }
  }
  .top_img img,
  .bottom_img img {
    width: 180px;
    height: 150px;
    margin-bottom: 15px;
    object-fit: cover;
    object-position: center;
  }
  /* timeline */
  .timeline.cd-section {
    height: 110vh;
  }
  .timeline_inner {
    width: 100%;
  }
  .timeline_aside {
    display: none;
  }
  .timeline_line {
    top: -30px;
  }
  .btn {
    top: 10px;
    left: -90px;
  }
  .btn label {
    height: 45px;
    margin-top: 10px;
  }
  .timeline_content {
    justify-content: center;
    margin-top: 100px;
  }
  .timeline_content .text_img {
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
  }
  .timeline_content.text_img {
    margin-top: 30px;
    margin-left: 0;
    gap: 0px;
  }
  .contents_img {
    width: 300px;
    height: 400px;
  }
  .contents_desc {
    text-align: center;
    margin-top: -20px;
  }
  .contents_desc h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .contents_desc span {
    font-size: 25px;
    display: block;
    margin-bottom: 30px;
  }
  .contents_desc p {
    font-size: 16px;
    line-height: 2em;
  }

  /* project */
  #project.cd-section {
    width: 100%;
    height: 330vh;
  }
  #project .content {
    height: 330vh;
  }
  .project_inner {
    width: 100%;
    height: 200vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 140px 1fr 1fr 1fr 1fr;
    border: none;
  }
  .project_header {
    width: 100%;
    grid-column: 1 /2;
    justify-content: center;
  }
  .project_header > span,
  .project_header > em {
    display: none;
  }
  .project_header > h1 {
    width: 370px;
    height: 100px;
    font-size: 55px;
    margin-left: -3%;
    padding: 0;
    padding-left: 12px;
    line-height: 100px;
    text-align: center;
  }
  #project .naver {
    flex-direction: column;
    width: 98.3%;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: -10px;
    border-right: none;
  }
  #project .naver img {
    width: 100%;
    height: 300px;
  }
  #project .aesop {
    grid-column: 1/2;
    grid-row: 3/4;
    flex-direction: column;
    margin-top: 0;
    padding: 30px;
  }
  #project .aesop img {
    width: 100%;
    height: 300px;
  }
  #project .kakao {
    margin-top: 0;
    width: 100%;
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #222;
    padding: 30px;
    border-right: none;
  }
  #project .kakao img {
    width: 100%;
    height: 300px;
  }
  .kakao > .view_more {
    margin-right: 10px;
  }
  .kakao_desc {
    padding-left: 0;
  }
  .naver_desc p,
  .aesop_desc p,
  .kakao_desc p,
  .apple_desc p {
    font-size: 19px;
    color: #000;
  }
  #project .apple {
    width: 100%;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 5/6;
    border-top: 1px solid #222;

  }
  #project .apple img {
    width: 100%;
    height: 300px;
  }
  /* contact */
  #contact .content {
    height: 130vh;
  }
  .contact_inner {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    height: 120vh;
  }
  .contact_inner span {
    font-size: 57px;
    cursor: pointer;
  }
  .contact_inner em {
    display: none;
  }
  .contact_content {
    margin-top: 30px;
    flex-direction: column;
  }
  .contact_info {
    order: 2;
  }
  .contact_info h3 {
    font-size: 25px;
  }
  .contact_form {
    margin-top: 250px;
    width: 90%;
    order: 1;
  }
  .contact_form form {
    width: 120%;
    padding: 10px;
  }
  .contact_form input[id="name"],
  .contact_form input[id="email"],
  .contact_form input[id="phone"],
  textarea {
    width: 80%;
  }
  input[type="submit"] {
    width: 80%;
  }
  nav {
    display: none;
  }
}

/* mobile iPhone 13 mini */
/* @media all and (max-width: 376px) {
  .logo a {
    font-size: 3rem;
  }
  .trigger {
    width: 2em;
  }
  .gnb .menu {
    line-height: 0.2;
  }
  .main_home h1 {
    font-size: 3.3rem;
    padding-left: 10px;
    padding-top: 25px;
  }
  .main_home img {
    width: 230px;
    height: 400px;
  }
  .home_bottom {
    font-size: 23px;
  }

  /* about */
  /*.about_inner h1 {
    font-size: 2.7rem;
    padding: 20px 0;
  }
  .photo img {
    margin-top: 30px;
    height: 70%;
  }
  .about_desc {
    margin-top: 30px;
  }
  .about_desc span {
    font-size: 3rem;
    margin-bottom: 1.2rem;
  }
  .about_desc h2 {
    font-size: 2.3rem;
    line-height: 1.5em;
    margin-bottom: 1.2rem;
  }
  .about_desc p {
    font-size: 1.5rem;
  }

  /* favorite */
  /*.favorite_contents {
    margin-top: 60px;
  }
  .favorite_contents h1 {
    font-size: 4rem;
  }
  .favorite_contents h2 {
    font-size: 3.5rem;
  }
  .top_img img,
  .bottom_img img {
    width: 180px;
    height: 130px;
  } 

  /* timeline */
  /*.btn {
    top: -30px;
    left: -110px;
  }
  .btn label {
    height: 45px;
    margin-top: 10px;
  }
  .contents_img {
    width: 230px;
    height: 330px;
  }
  .contents_desc h2 {
    font-size: 35px;
    margin-bottom: 15px;
  }
  .contents_desc p {
    font-size: 14px;
  }
  /* project */
  /*.project_header > h1 {
    width: 335px;
  }
  #project .naver {
    padding-top: 10px;
  }
  #project .naver img {
    height: 200px;
  }
  .naver_desc h1,
  .kakao_desc h1,
  .apple_desc h1 {
    font-size: 40px;
  }
  .naver_desc span,
  .kakao_desc span,
  .apple_desc span {
    font-size: 25px;
  }
  .naver_desc p,
  .kakao_desc p,
  .apple_desc p {
    font-size: 16px;
  }

  /* contact */
  /*.contact_inner span {
    margin-top: 30px;
    font-size: 50px;
    margin-bottom: 50px;
  }
}
