.header {
  background: #2b2b2b;
}
.header .inner {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .logo img {
  width: 20px;
  height: 20px;
}
.header .gnb {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
}
.header .gnb li {
  list-style: none;
}
.header .gnb li a {
  text-decoration: none;
  color: #fff;
}

.items {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.items .item {
  width: 100%;
  height: 300px;
  position: relative;
  text-align: center;
  border: 1px solid #f00;
}
.items .item span {
  font-size: 30px;
  display: block;
  margin: 60px 0 90px 0;
}
.items .item span p {
  font-size: 18px;
}
.items .item span img {
  width: 1005px;
  height: 100%;
}
.items .item:first-child, .items .item:last-child {
  grid-column: span 2;
}