/* #wrap { */
  /* width: 960px;
  height: 500px; */
  /* width: 90%;
  height: 500px;
  border: 4px solid#000;
  margin: 0 auto;
} */
/* 미디어쿼리 */
/* Mobile */
/* @media all and (min-width: 320px) {
  body {
    background: #e65d5d;
  }
} */
/* Tablet */
/* @media all and (min-width: 768px) {
  body {
    background: #2d2270;
  }
} */
/* Pc */
/* @media all and (min-width: 960px) {
  body {
    background: #6fc0d1;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#wrap {
  width: 90%;
  height: 500px;
  margin: 0 atuo;
  border: 4px solid #000;
}
#wrap div {
  display: inline-block;
  width: 31%;
  /* 300px / 960px기준으로 */
  height: 100%;
}
#wrap div:first-child {
  margin-right: 37.6%;
  /* 360px / 960px기준 */
  /* 가변 마진값 주는 방법 */
  background: #1f518b;
}
#wrap div:last-child {
  background: #f72041;
}