@font-face {
  font-family: kakao;
  src: url("/kakao0/font/KakaoBigRegular.ttf"), local("/kakao0/font/KakaoBigBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, li {
  list-style: none;
}
a{
  text-decoration: none;
}

.kakao_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* wrap1 */
#wrap1 {
  width: 490px;
  height: 800px;
  margin: 100px auto;
  box-shadow: 0 0 10px #a2a2a2;
}
#container {
  display: flex;
}
#wrap1 aside {
  width: 82px;
  height: 680px;
  background: #ececed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#wrap1 .aside_top {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  position: relative;
} 
#wrap1 .aside_top i {
  margin-bottom: 40px;
  font-size: 30px;
}
#wrap1 .aside_top .fa-user-large, 
#wrap1 .aside_top .fa-ellipsis {
  color: #989797;
}
#wrap1 .aside_top .fa-comment {
  color: #343740;
}
#wrap1 .aside_top .icon em {
  width: auto;
  height: 18px;
  background: #ff5b49;
  color: #fff;
  border-radius: 25px;
  padding: 0 5px;
  font-style: normal;
  text-align: center;
  font-size: 13px;
  position: absolute;
  font-weight: bold;
}
#wrap1 .aside_top .person em {
  top: -10px;
  left: 25px;
}
#wrap1 .aside_top .comment em {
  top: 62px;
  left: 10px;
}

#wrap1 .aside_top i:last-child em {
  font-size: 16px;
  position: absolute;
  top: 125px;
  color: #ff5b49;
}
#wrap1 .aside_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 33px;
}
#wrap1 .aside_bottom i, 
#wrap1 .aside_bottom em {
  margin-top: 23px;
  font-size: 26px;
  color: #2e2d2d;
}

#wrap1 header {
  width: 409px;
  height: 85px;
  position: relative;
}
#wrap1 .header_top a {
border: 1px solid #f00;
}
#wrap1 .header_top i {
  margin-left: 10px;
  font-size: 15px;
  color: #999;
  border: 1px solid #f00;
}
main .chat {
  width: 80px;
  position: absolute;
  bottom: 5px;
  left: 20px;
  color: #343740;
}
main .chat h2 {
  padding-left: 0;
  position: relative;
  margin: 0;
}
main .chat h2 i {
  color: #343740;
  font-size: 16px;
}
#wrap1 main .header_bottom {
  position: absolute;
  right: 10px;
  bottom: 2px;
  border:  1px solid #f00;
}
#wrap1 main .header_bottom i {
  font-size: 25px;
  margin-right: 15px;
  color: #606060;
  border:  1px solid #f00;
}
#wrap1 .chat_content {
  width: 408px;
  height: 85px;
  padding: 13px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrap1 .chat_content h3 {
  font-size: 17px;
  font-weight: semi;
}
#wrap1 .chat_content span {
  font-size: 14px;
  color: #828282;
}
#wrap1 .left {
  display: flex;
  gap: 20px;
}
#wrap1 .chat_content img {
  width: 54px;
  height: 52px;
  border-radius: 23px;
}
#wrap1 .right {
  text-align: right;
}
#wrap1 .right span {
  font-size: 14px;
  color: #b2b2b2;
}
#wrap1 .right em {
  display: inline-block;
  width: auto;
  padding:0 5px;
  height: 20px;
  background: #ff5b49;
  color: #fff;
  text-align: center;
  border-radius: 23px;
  font-weight: bold;
  font-style: normal; 
}
#wrap1 footer {
  width: 489px;
  height: 120px;
  border-top: 1px solid #ddd;
  margin-top: -36px;
}
#wrap1 .advertisement {
  width: 80%;
  height: 75%;
  margin: 20px auto;
  display: flex;
}
#wrap1 footer .text {
  margin-left: 40px;
  position: relative;
}
#wrap1 footer h3 {
  font-size: 14px;
  margin-bottom: 17px;
}
#wrap1 footer .text span {
  font-size: 13px;
  color: #b2b2b2;
  position: absolute;
}
#wrap1 footer img {
  width: 149px;
  height: 74px;
  border-radius: 5px;
}

/* wrap2 */

#wrap2 {
  width: 636px;
  height: 800px;
  margin: 100px auto;
  box-shadow: 0 0 5px #b2b2b2;
}
.header {
  width: 636px;
  height: 84px;
  position: relative;
  border-bottom: 1px solid #e3dfdf;
}
.header span {
  position: absolute;
  bottom: 18px;
  left: 18px;
  font-size: 19px;
}
.header i {
  position: absolute;
  top:5px;
  right: 10px;
  color: #b2b2b2;
}
.container { 
  width: 636px;
  height: 522px;
  display: flex;
}
#aside {
  width: 121px;
  height: 716px;
  border-right: 1px solid #e3dfdf;    
  display: flex;
}
.aside_lists ul {
  margin-top: 19px;
}
.aside_lists li {
  text-align: left;
  padding: 13px;
}

.aside_lists ul li:first-child {
  width: 119px;
  height: 45px;
  background: #f2f2f2;
}
.aside_lists ul li #first {
  color: #000;
}
.aside_lists li a {
  font-size: 17px;
  color: #9c9b9b;
}
.setting_form {
  width: 516px;
  height: 716px;
  padding: 38px 26px 70px 35px;
}
form {
  width: 100%;
  height: 100%;
}
.field {
  margin-bottom: 43px;
}
.field div:first-child {
  margin-top: 9px;
}
.field label {
  font-size: 17px;
  margin-left: 5px;
}
.field h2 {
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 20px;
}
.row {
  display: flex;
  justify-content: space-between;
}

#mode, #lock {
  width: 157px;
  height: 38px;
  border-color: #b2b2b2;
  border-radius: 4px;
  font-size: 17px;
  color: #b2b2b2;
}
.field input {
  display: none;
  /* width: 20px;
  height: 20px;
  font-size: 13px;
  text-align: center;
  padding: 3px;
  background: #fee500; */
}
.field i {
  width: 25px;
  height: 25px;
  font-size: 16px;
  text-align: center;
  padding: 5px;
  background: #fee500;
  border-radius: 50%;
}

form
.lock_mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
.pc h2,
.last h2 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: normal;
}
section h2 span {
  font-weight: semi;
}
.field p {
  color: #707070;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-bottom: 12px;
}
.field button {
  width: auto;
  height: 40px;
  padding: 0 10px;
  background: #fff;
  font-size: 17px;
  border-radius: 5px;
  margin-top: 8px;
  border: none;
  border: 1px solid #cecece;
}

/* wrap3 */

#wrap3 {
  width: 616px;
  height: 802px;
  margin: 100px auto;
  box-shadow: 0 0 10px #a2a2a2;
}
header {
  width: 615px;
  height: 85px;
  border: 1px solid #fff;
  border-bottom: 1px solid #e8e7e7;
  position: relative;
}
header h2 {
  margin: 32px 0 17px 27px;
  font-weight: medium;
}
header .fa-xmark {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 20px;
  color: #adadad;
}
#container {
  width: 100%;
  height: 716px;
  display: flex;
}
#wrap3 aside {
  width: 157px;
  height: 716px;
  background: #ececed;
  border-right: 1px solid #e8e7e7;
}
#wrap3 aside ul {
  text-align: left;
  margin-top: 18px;
}
#wrap3 aside ul li {
  padding: 19px 0px 19px 24px;
}
#wrap3 aside ul li a {
  color: #000;
}
#wrap3 aside ul .style {
  width: 157px;
  height: 60px;
  background: #d9d9d9;
}
#wrap3 main .main_ad {
  width: 458px;
  height: 150px;
}
#wrap3 main .main_ad {
  width: 401px;
  height: 126px;
  background: url("./img03/img_ad.JPG")center center no-repeat;
  background-size: cover;
  background-position: center;
  margin: 11px 28px;
  border-radius: 10px;
}
#wrap3 .main_contents {
  width: 458px;
  height: 569px;
  padding-right: 26px;
  overflow: hidden;

}
#wrap3 .main_content {
  width: 432px;
  height: 98px;
  display: flex;
  gap: 25px;
  align-items: center;
  padding-left: 26px;
}
#wrap3 .main_content:hover {
  background: #ebebec;
}

#wrap3 .main_content img {
  width: 76px;
  height: 76px;
  margin:10px 0;
}
#wrap3 .main_content .number {
  font-size: 26px;
  font-weight: normal;
  position: relative;
  top: -15px;

}
#wrap3 .main_content .name {
  position: relative;
  font-size: 18px;
  font-weight: medium;
  letter-spacing: 1px;
  top: 5px;
}

.main_content h2 em {
  font-style: normal;
  display: inline-block;
  width: 21px;
  height: 21px;
  font-size: 15px;
  color: #fff;
  background: #ff5b49;
  border-radius: 50%;
  text-align: center;
  position: relative;
  top: -3px;
  left: 3px;
  
}
.main_content h2 span {
  font-weight: normal;
  font-size: 15px;
  color: #a2a2a2;
}