@font-face {
  font-family: kakao;
  src: url("/kakao0/font/KakaoBigRegular.ttf"), local("/kakao0/font/KakaoBigBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #b2b2b2;
}
#wrap2 {
  width: 636px;
  height: 800px;
  margin: 100px auto;
  box-shadow: 0 0 5px #b2b2b2;
}
.header {
  width: 636px;
  height: 84px;
  position: relative;
  border-bottom: 1px solid #e3dfdf;
}
.header span {
  position: absolute;
  bottom: 18px;
  left: 18px;
  font-size: 19px;
}
.header i {
  position: absolute;
  top:5px;
  right: 10px;
  color: #b2b2b2;
}
.container { 
  width: 636px;
  height: 522px;
  display: flex;
}
#aside {
  width: 121px;
  height: 716px;
  border-right: 1px solid #e3dfdf;    
  display: flex;
}
.aside_lists ul {
  margin-top: 19px;
}
.aside_lists li {
  text-align: left;
  padding: 13px;
}

.aside_lists ul li:first-child {
  width: 119px;
  height: 45px;
  background: #f2f2f2;
}
.aside_lists ul li #first {
  color: #000;
}
.aside_lists li a {
  font-size: 17px;
  color: #9c9b9b;
}
.setting_form {
  width: 516px;
  height: 716px;
  padding: 38px 26px 70px 35px;
}
form {
  width: 100%;
  height: 100%;
}
.field {
  margin-bottom: 43px;
}
.field div:first-child {
  margin-top: 9px;
}
.field label {
  font-size: 17px;
  margin-left: 5px;
}
.field h2 {
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 20px;
}
.row {
  display: flex;
  justify-content: space-between;
}

#mode, #lock {
  width: 157px;
  height: 38px;
  border-color: #b2b2b2;
  border-radius: 4px;
  font-size: 17px;
  color: #b2b2b2;
}
.field input {
  display: none;
  /* width: 20px;
  height: 20px;
  font-size: 13px;
  text-align: center;
  padding: 3px;
  background: #fee500; */
}
.field i {
  width: 25px;
  height: 25px;
  font-size: 16px;
  text-align: center;
  padding: 5px;
  background: #fee500;
  border-radius: 50%;
}

form
.lock_mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
.pc h2,
.last h2 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: normal;
}
section h2 span {
  font-weight: semi;
}
.field p {
  color: #707070;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-bottom: 12px;
}
.field button {
  width: auto;
  height: 40px;
  padding: 0 10px;
  background: #fff;
  font-size: 17px;
  border-radius: 5px;
  margin-top: 8px;
  border: none;
  border: 1px solid #cecece;
}





