/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* headaer */
.cfixed::after {
  content: "";
  display: block;
  clear: both;
}
.header {
  position: relative;
  padding: 18px 5%;
}
.header .logo {
  float: left;
}
.header .logo a {
  font-size: 26px;
  font-weight: normal;
  color: #3f51b5;
}
.header .gnb {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #3f51b5;
}
.header .gnb li {
  border-bottom: 1px solid#303f9f;
}
.header .gnb li a {
  display: block;
  padding: 14px 0 14px 5%;
  font-size: 14px;
  color: #fff;
}
.header .menu_toggle_btn {
  float: right;
  width: 20px;
  margin-top: 16px;
  cursor: pointer;
}
.header .menu_toggle_btn span {
  width: 100%;
  height: 2px;
  background: #3f51b5;
  display: block;
}
.header .menu_toggle_btn span:nth-child(2) {
  margin: 5px 0;
}

/* article */
.slider img {
  display: block;
  width: 100%;
  height: auto;
}

/* section */
.sec_tit {
  font-size: 42px;
  color: #3f51b5;
  font-weight: normal;
}
.display_section {
  text-align: center;
  margin-top: 59px;
}
.container {
  width: 90%;
  margin: 0 auto;
}

.container::after {
  display: block;
  content: "";
  clear: both;
}
.display_section .sec_tit {
  margin-bottom: 30px;
}
.display_section .desc {
  color: #616161;
  line-height: 2;
}
.promotion_section {
  margin-top: 68px;
}
.promotion_section .promo_list li {
  margin-top: 52px;
  text-align: center;
}
.promotion_section .promo_list li:first-child {
  margin-top: 0;
}
.promotion_section .promo_list li img {
  height: 52px;
}
.promotion_section .promo_list li h3 {
  margin: 29px 0 20px;
  color: #3f51b5;
  font-weight: normal;
}
.promotion_section .promo_list li p {
  font-size: 14px;
  color: #616161;
  line-height: 1.5;
}
.divider {
  width: 90%;
  margin: 77px auto;
}
.work_section .sec_tit {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 47px;
  text-align: center;
}
.work_section .work_list li {
  width: 100%;
}
.work_section .work_list li a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.work_section .work_list li a::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3f51b5;
  opacity: 0;
  transition: all 0.2s;
}
.work_section .work_list li a:hover::before {
  opacity: 0.8;
}
.work_section .work_list li .info {
  position: absolute;
  top: 0;
  left: 23px;
  opacity: 0;
  transition: all 0.3s;
}
.work_section .work_list li a:hover .info {
  opacity: 1;
  transform: translateY(23px);
}
.work_section .work_list li .info h3 {
  color: #fff;
  font-size: 23px;
  font-weight: normal;
  margin-bottom: 8px;
}
.work_section .work_list li .info span {
  font-size: 11px;
  color: #fff;
}
.work_section .work_list li img {
  display: block;
  width: 100%;
  height: auto;
}
/* blog */
.m_divider {
  width: 20px;
  margin: 77px auto;
}
.blog_section .sec_tit {
  margin-bottom: 47px;
  text-align: center;
}
.blog_section .blog_list li {
  width: 100%;
  margin-top: 45px;
}
.blog_section .blog_list li img {
  display: block;
  width: 100%;
  height: auto;
}
.blog_section .blog_list li time {
  display: block;
  margin: 10px 0;
  font-size: 14px;
  color: #9e9e9e;
}
.blog_section .blog_list li h3 {
  color: #424242;
  font-weight: normal;
  line-height: 1.6;
}

/* contact */
.contact_section {
  margin-top: 109px;
}
.contact_section .sec_tit {
  margin-bottom: 47px;
  text-align: center;
}

.blind {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
}
input,
textarea {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 1px solid#757575;
  color: #3f51b5;
  font-size: 12px;
  border-radius: 1;
  outline: none;
}
input::placeholder,
textarea::placeholder {
  color: #3f51b5;
}

/* .contact_section .form_box .form {
  float: left;
  width: 48%;
} */
.contact_section .form_box .form input {
  padding-bottom: 13px;
  margin-bottom: 38px;
}
.contact_section .form_box .textarea textarea {
  height: 165px;
}
.contact_section .form_box .send_btn {
  margin-top: 36px;
  text-align: right;
}
.contact_section .form_box .send_btn button {
  cursor: pointer;
  background: #3f51b5;
  color: #fff;
  font-size: 12px;
  margin: 0;
  padding: 15px;
  border: 0;
}
fieldset {
  border: none;
}
.footer {
  margin-top: 104px;
}
.footer iframe {
  width: 100%;
  height: 320px;
}
.footer p {
  margin: 21px 0;
  color: #3f51b5;
  text-align: center;
}
/* tablet */
@media all and (min-width: 768px) {
  .header {
    padding: 28px 52px;
  }
  nav {
    width: 100%;
  }
  .header .gnb {
    border: 1px solid #f00;
    display: block;
    float: right;
    position: static;
    width: auto;
    margin-top: 17px;
    background: none;
  }
  .header .gnb li {
    float: left;
    margin-right: 21px;
    border-bottom: 0;
  }
  .header .gnb li a {
    color: #3f51b5;
    font-size: 16px;
    padding: 0;
  }
  .header .menu_toggle_btn {
    display: none;
  }
  .display_section {
    margin-top: 95px;
  }
  .promotion_section {
    margin-top: 110px;
  }
  .promotion_section .promo_list li {
    float: left;
    width: 23%;
    margin-top: 0;
    margin-left: 2%;
  }
  .work_section {
    margin-top: 118px;
  }
  .work_section .sec_tit {
    margin-bottom: 76px;
  }
  .work_section .work_list li {
    width: 50%;
    float: left;
  }
  .work_section .work_list li .info {
    left: 37px;
  }
  .work_section .work_list li:hover .info {
    transform: translateY(37px);
  }
  .blog_section {
    margin-top: 124px;
  }
  .blog_section .sec_tit {
    margin-bottom: 76px;
  }
  .blog_section .blog_list li {
    float: left;
    width: 31%;
    margin-left: 2.3%;
    margin-top: 0;
  }
  .contact_section {
    margin-top: 176px;
  }
  .contact_section .sec_tit {
    margin-bottom: 76px;
  }
  .contact_section .form_box .form,
  .contact_section .form_box .textarea {
    float: left;
    width: 48%;
  }
  .contact_section .form_box .form {
    margin-right: 2.5%;
  }
  .contact_section .form_box .form input:last-child {
    margin-bottom: 0;
  }
  .contact_section .form_box .textarea textarea {
    height: 177.4px;
  }
  .footer iframe {
    height: 432px;
  }
  .footer p {
    margin: 34px 0;
  }
}

@media all and (min-width: 1132px) {
  .display_section {
    text-align: left;
  }
  .display_section .sec_tit {
    float: left;
    margin-bottom: 0;
  }
  .display_section .desc {
    width: 60%;
    float: right;
    color: #616161;
    line-height: 1.9;
    position: relative;
  }
  .display_section .desc::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: -20px;
    width: 2px;
    height: 44px;
    background: #e0e0e0;
  }
  .promotion_section .promo_list li {
    width: 23%;
    margin-left: 1.7%;
  }
  .work_section .sec_tit {
    text-align: left;
  }
  .work_section .work_list li {
    width: 25%;
  }
  .blog_section {
    position: relative;
  }
  .blog_section .sec_tit {
    float: left;
    position: absolute;
    top: -14px;
  }
  .blog_section .blog_list {
    float: right;
    width: 74%;
  }
  .blog_section .blog_list li {
    width: 31%;
    margin-left: 2.3%;
  }
  .contact_section .sec_tit {
    float: left;
    margin-bottom: 0;
  }
  .contact_section .form_box {
    float: right;
    width: 74%;
  }
  .contact_section .form_box .form,
  .contact_section .form_box .textarea {
    width: 40%;
  }
  .contact_section .form_box .form{
    margin-right: 2.3%;
  }

}
