/*reset*/
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/*nav*/
nav {
  background: #f8f2d4;
  width: 100%;
  height: 50px;
  text-align: center;
  margin: 0;
  padding: 0;
  position: fixed;
}

a.nav_btn {
  display: inline-block; /*그래야 너비 높이 먹음*/
  width: 20%;
  height: 50px;
  line-height: 50px; /*수직정렬*/
}

nav > a:link,
nav > a:visited {
  color: #000; /*방문하게 되었을때클릭해도 색은 검정*/
  font-weight: bold;
  font-size: 1.1em; /*본인크기의 1.1배*/
}
section {
  width: 100%;
  height: 900px; /*각각 900을 가져갔기 때문에 900만큼 씩 내려서 위치*/
  margin: 0 auto; /*가운데 정렬*/
  padding: 20px;
  /* border: 1px solid #000; */
}
section > h2 {
  text-align: center;
  line-height: 800px;
  font-size: 4em; /* */
  color: #fff;
  text-shadow: 1px 2px 1px #000;
  text-transform: uppercase;
}
.page1 {
  background: url("/01onpage-01/img/eu.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.page2 {
  background: url("/01onpage-01/img/us.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.page3 {
  background: url("/01onpage-01/img/ch.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.page4 {
  background: url("/01onpage-01/img/jp.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
