body {
  background: url("./images\ \(1\)/event-bg.png") no-repeat center;
  background-size: auto;
}
h1 {
  font-size: 60px;
  color: #fff;
}
button {
  /* 절대값 */
  position: fixed;
  bottom: 30px;
  right: 50px;
}