* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  border: 1px solid #ddd;
  padding: 20px;
}
#desc {
  margin: 10px 20px;
}
p {
  font-size: 0.8rem;
  line-height: 1.8em;
}

.clicked {
  background: pink;
  color: #ff024a;
}