@font-face {
  font-family: kakao;
  src: url("/2023.09.13/kakao/font/KakaoBigRegular.ttf"), local("/2023.09.13/kakao/font/KakaoBigRegular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "kakao";
}
ul,
lu {
  list-style: none;
}
a {
  text-decoration: none;
}