/* reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  /* 상속을 하게 되면 기본적으로 검정색임 */
}

/* common CSS */
#wrap {
  width: 1280px;
  margin: 0 auto;
}

/* header */
header {
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
}
header > nav {
  width: 100%;
  height: 46px;
  display: flex;
  /* nav아이콘이 한줄로 만들어졌어 */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  margin-top: 20px;
}
#leftnav,
#rightnav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#leftnav span,
#rightnav span {
  width: 46px;
  height: 46px;
  text-align: center;
  line-height: 46px;
}
#leftnav span:first-child a {
  display: inline-block;
  background: url(./img/naver_main.png) center center/cover no-repeat;
  width: 26px;
  height: 26px;
  background-size: 433px 412px;
  background-position: -81px -318px;
}
#leftnav span:last-child a {
  display: inline-block;
  background: url(./img/naver_main.png) center center/cover no-repeat;
  width: 33px;
  height: 33px;
  background-size: 433px 412px;
  background-position: -293px -172px;
  margin-top: 5px;
}
#rightnav span:first-child a {
  display: inline-block;
  background: url(./img/naver_main.png) center center/cover no-repeat;
  width: 26px;
  height: 26px;
  background-size: 433px 412px;
  background-position: -189px -320px;
  margin-top: 2px;
}
#rightnav span:last-child a {
  display: inline-block;
  background: url(./img/naver_main.png) center center/cover no-repeat;
  width: 26px;
  height: 26px;
  background-size: 433px 412px;
  background-position: -136px -320px;
}

/* Search */
form {
  width: 710px;
  height: 60px;
  margin: 0 auto 15px;
  position: relative;
}
main input {
  display: block;
  margin: auto;
  width: 708px;
  height: 60px;
  border: 1px solid#03c75a;
  border-radius: 60px;
  font-size: 18px;
  margin-bottom: 26px;
  padding-left: 90px;
  z-index: 9999;
  background-color: transparent;
}
main input:focus {
  border: 1px solid #03c75a;
  outline: none;
}

#character {
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  width: 670px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 600px;
  z-index: -9999;
}
#character > span {
  font-size: 20px;
}
#character > .naver {
  color: #03c75a;
  font-weight: bold;
  font-size: 30px;
}
#character > .naver img {
  width: 24px;
  height: 24px;
}
#character > .magnifying img {
  width: 25px;
  height: 25px;
}

/* Card */
#icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.boxitems {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boxitem {
  display: flex;
  /* 수평정렬 */
  justify-content: center;
  /* 수직정렬 */
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid#f7f7f8;
  border-radius: 16px;
  box-shadow: 0 0 2px #b8b8bd;
  color: #03c75a;
  margin-bottom: 10px;
  overflow: hidden;
}
.boxitem > span {
  font-size: 15px;
}
.boxitem:hover {
  box-shadow: 0 0 2px #b8b8bd, 0 3px 4px #e0e0e0;
}
.boxitems:first-child .boxitem > span {
  background: url(./img/naver_main.png) center center/cover no-repeat;
  width: 44px;
  height: 44px;
  background-size: 433px 412px;
  background-position: -248px -88px;
}
.boxitems:nth-child(2) .boxitem > span {
  background: url(./img/naver_main.png) center center/cover no-repeat;
  width: 44px;
  height: 44px;
  background-size: 433px 412px;
  background-position: -250px 0px;
}
.boxitems:nth-child(3) .boxitem > span {
  background: url(./img/naver_main.png) center center/cover no-repeat;
  width: 44px;
  height: 44px;
  background-size: 433px 412px;
  background-position: -201px -94px;
}
.boxitems:nth-child(4) .boxitem > span {
  background: url(./img/naver_main.png) center center/cover no-repeat;
  width: 44px;
  height: 44px;
  background-size: 433px 412px;
  background-position: -90px -203px;
}
.boxitems:nth-child(5) .boxitem > span {
  background: url(./img/naver_main.png) center center/cover no-repeat;
  width: 44px;
  height: 44px;
  background-size: 433px 412px;
  background-position: 0px -203px;
}
.boxitems:nth-child(6) .boxitem > span {
  background: url(./img/naver_main.png) center center/cover no-repeat;
  width: 44px;
  height: 44px;
  background-size: 433px 412px;
  background-position: -180px -202px;
}
.boxitems:nth-child(7) .boxitem > span {
  background: url(./img/naver_main.png) center center/cover no-repeat;
  width: 44px;
  height: 44px;
  background-size: 433px 412px;
  background-position: -45px -202px;
}
.boxitems:nth-child(8) .boxitem > span {
  background: url(./img/naver_main.png) center center/cover no-repeat;
  width: 44px;
  height: 44px;
  background-size: 433px 412px;
  background-position: -201px 0px;
}
.boxitems:nth-child(9) .boxitem > span {
  background: url(./img/naver_main.png) center center/cover no-repeat;
  width: 44px;
  height: 44px;
  background-size: 433px 412px;
  background-position: -224px -202px;
}
.boxitems:last-child .boxitem > span {
  background: url(./img/naver_main.png) center center/cover no-repeat;
  width: 44px;
  height: 44px;
  background-size: 433px 412px;
  background-position: -249px -130px;
}
.boxitems:last-child .boxitem:hover > span {
  background-image: url(./img/naver_main.png) center center/cover no-repeat;
  width: 22px;
  height: 6px;
  background-size: 433px 412px;
  background-position: -110px -195px;
}
.boxitems:last-child .boxitem:hover {
  background: #f8f8f8;
}

/* Main Contents */
#maincontents {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 22px;
}
/* Ad section 01 */
#adsection {
  background-image: url("./img/ad1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 833px;
  height: 130px;
  border: 1px solid#e3e5e8;
  border-radius: 8px;
  margin-bottom: 16px;
}
/* News Section */
#newssection {
  width: 833px;
  height: 428px;
  border: 1px solid#e3e5e8;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 16px;
}
/* News Stand */
#newsstand {
  font-size: 18px;
  color: #b3b3be;
  margin-bottom: 18px;
}
#newsstand > span {
  margin: 8px;
  font-size: 16.8px;
  font-weight: bold;
  position: relative;
  color: #808080;
}

#newsstand > span::before {
  content: "/";
  display: inline-block;
  color: #d3d5d7;
  font-weight: 300;
  font-size: 18px;
  position: absolute;
  left: -12px;
}
#newsstand > span:first-child::before {
  display: none;
}
#newsstand > span:nth-child(2)::before {
  content: "•";
  display: inline-block;
  position: absolute;
  left: -17px;
}
#newsstand > span:nth-child(2) {
  font-weight: bold;
  color: #000;
}
.livebox {
  background-color: #f00;
  padding: 3px 6px 2px 6px;
  color: #fff;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 900;
} 
.livebox > img {
  width: 15px;
  height: auto;
  margin-right: 5px;
}

/* News Title */
#newstitle {
  width: 792px;
  height: 51px;
  background-color: #f3f3f6;
  position: relative;
  border-radius: 6px;
  margin-bottom: 18px;
}
#newstitle > span {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

/* News Imgs */
#newsimgs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 237px;
}
.newscontents {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.newscontent {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#newsimg1 > .newscontents .newscontent:nth-child(1) > .newscontent-img {
  background-image: url("./img/newscontents1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 155px;
  height: 105px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

#newsimg1 > .newscontents .newscontent:nth-child(2) > .newscontent-img {
  background-image: url("./img/newscontents2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 155px;
  height: 105px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.06);
}
#newsimg2 > .newscontents .newscontent:nth-child(1) > .newscontent-img {
  background-image: url("./img/newscontents3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 155px;
  height: 105px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.06);
}
#newsimg2 > .newscontents .newscontent:nth-child(2) > .newscontent-img {
  background-image: url("./img/newscontents4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 155px;
  height: 105px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.06);
}
.newscontent-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 221px;
  height: 105px;
}
.newscontent-items > .top {
  /* KBS랑 구독이랑 사이 떨어뜨려준것 */
  display: flex;
  justify-content: space-between;
}
.newscontent-items > .top > .channel {
  display: flex;
  justify-content: center;
  align-items: center;
  /* KBS두개를 떨어뜨려준것 */
  gap: 12px;
}
#newsimg1
  > .newscontents
  > .newscontent:nth-child(1)
  > .newscontent-items
  > .top
  > .channel
  > span:nth-child(1) {
  background-color: #00f;
  color: #fff;
  width: 20px;
  height: 20px;
  font-size: 10px;
  border-radius: 50%;
  text-align: center;
  padding-top: 3px;
  border: 1px solid rgba(0, 0, 0, 0.06);
}
#newsimg1
  > .newscontents
  > .newscontent:nth-child(2)
  > .newscontent-items
  > .top
  > .channel
  > span:nth-child(1) {
  background-color: tomato;
  color: #fff;
  width: 20px;
  height: 20px;
  font-size: 10px;
  border-radius: 50%;
  text-align: center;
  padding-top: 3px;
  border: 1px solid rgba(0, 0, 0, 0.06);
}
#newsimg2
  > .newscontents
  > .newscontent:nth-child(1)
  > .newscontent-items
  > .top
  > .channel
  > span:nth-child(1) {
  background-color: rgb(32, 139, 158);
  color: #fff;
  width: 20px;
  height: 20px;
  font-size: 10px;
  border-radius: 50%;
  text-align: center;
  padding-top: 3px;
  border: 1px solid rgba(0, 0, 0, 0.06);
}
#newsimg2
  > .newscontents
  > .newscontent:nth-child(2)
  > .newscontent-items
  > .top
  > .channel
  > span:nth-child(1) {
  background-color: transparent;
  color: #8a7575;
  width: 20px;
  height: 20px;
  font-size: 10px;
  border-radius: 50%;
  text-align: center;
  padding-top: 3px;
  border: 1px solid rgba(0, 0, 0, 0.06);
}
.newscontent-items > .top > .channel > span:nth-child(2) {
  font-weight: bold;
}
.newscontent-items > .top > span {
  font-weight: bold;
  border: 1px solid rgba(142, 142, 246);
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 30px;
  color: rgba(142, 142, 246);
}
.newscontent-items > .bottom > span:last-child {
  font-size: 14px;
  color: #828294;
}
/* News Media */
#medias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 58px;
  gap: 40px;
}
#medias > span:first-child,
#medias > span:last-child {
  width: 36px;
  height: 36px;
  border-radius: 40px;
  border: 1px solid#b3b3be;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  font-weight: bold;
}
#medias > span:first-child:hover {
  background-color: #f4f4f8;
  box-shadow: 0 0 10px #f4f4f8;
  transition: 0.3s;
}
#medias > span:nth-child(2) {
  font-size: 13px;
} 
#medias > span:last-child:hover {
  background-color: #f4f4f8;
  box-shadow: 0 0 10px #f4f4f8;
  transition: 0.3s;
}

/* Shop Section */
#shopsection {
  width: 833px;
  height: 570px;
  border: 1px solid#e3e5e8;
  border-radius: 8px;
  margin-bottom: 20px;
}
#shopmenu {
  display: flex;
  align-items: center;
  color: #b3b3be;
  font-size: 18px;
  padding: 17px 17px 0;
}
#shopmenu > li {
  padding-right: 26px;
  position: relative;
}
#shopmenu > li a {
  font-weight: 600;
  color: #808080;
}
#shopmenu > li:first-child a {
  color: #000;
  font-weight: bold;
}
#shopmenu > li:first-child::before {
  display: none;
}
#shopmenu > li::before {
  content: "/";
  display: inline-block;
  color: #d3d5d7;
  font-weight: 300;
  position: absolute;
  left: -13px;
}
#shopbanner {
  display: flex;
  justify-content: space-between;
  padding: 0 17px;
}
#shopbox {
  width: 680px;
  height: 51px;
  background-color: #f3f3f6;
  border-radius: 6px;
  padding: 15px;
  margin-top: 14px;
  margin-bottom: 20px;
}
#shopbox > span {
  font-size: 16px;
}
#shopbox > span > span {
  color: #9858f5;
}
#shopbox_btn {
  margin-top: 25px;
}
#shopbox_btn > span {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #71717199;
  font-weight: bold;
}

#shopbox_btn > span > .icon {
  font-size: 7px;
  margin-left: 13px;
}
#shopbox_btn > span > span {
  color: #606060;
}
#shopbox_btn > span > .icon > a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #71717199;
  text-align: center;
  padding: 10px;
  border-radius: 3px 0 0 3px;
  color: #606060;
}
#shopbox_btn > span > .icon > a:last-child {
  border-radius: 0 3px 3px 0;
  margin-left: -2.6px;
}
#shopbox_btn > span > .icon > a:hover {
  background-color: #f4f4f8;
  transition: 0.3s;
  color: #000;
}


/* shopcontents */
#shop_main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 0 17px;
}
#shopimgs {
  width: 530px;
  display: flex;
  flex-direction: column;
}
.shopcontents {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 10px;
}
.shopcontent {
  display: flex;
  flex-direction: column;
}
#shopimg1 > .shopcontents > .shopcontent > .shopcontent-img,
#shopimg2 > .shopcontents > .shopcontent > .shopcontent-img {
  width: 98px;
  height: 126px;
  border-radius: 6px;
  margin-bottom: 7px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  overflow: hidden;
}
#shopimg1 > .shopcontents > .shopcontent > .shopcontent-img img,
#shopimg2 > .shopcontents > .shopcontent > .shopcontent-img img {
  transition: 0.3s;
}
#shopimg1 > .shopcontents > .shopcontent > .shopcontent-img img,
#shopimg2 > .shopcontents > .shopcontent > .shopcontent-img img {
  width: 100%;
  height: 100%;
}
#shopimg1 > .shopcontents > .shopcontent > .shopcontent-img img:hover,
#shopimg2 > .shopcontents > .shopcontent > .shopcontent-img img:hover {
  transform: scale(1.1);
}

#shopimg1 > .shopcontents > .shopcontent > .shopcontent-items {
  font-size: 13.5px;
  letter-spacing: -1px;
}
#shopimg2 > .shopcontents > .shopcontent > .shopcontent-items {
  font-size: 13.5px;
  letter-spacing: -1px;
}

/* shop aside */
#shopaside1 {
  width: 248px;
  height: 88px;
  border: 1px solid #e3e5e8;
  background: #f7f8f9;
  color: #404040;
  border-radius: 6px;
  padding: 10px;
  margin: 0 0 7px 14px;
}
#shopaside1 > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
#shopaside1 > ul > li {
  position: relative;
}
#shopaside1 > ul > li a {
  display: inline-block;
  padding: 4px 7px;
  font-size: 13px;
  position: relative;
}
#shopaside1 > ul > li a::before {
  content: "•";
  position: absolute;
  color: #d3d5d7;
  left: -6px;
}
#shopaside1 > ul > li:first-child a::before,
#shopaside1 > ul > li:nth-child(6) a::before,
#shopaside1 > ul > li:nth-child(10) a::before {
  display: none;
}
#shopaside1 > ul > li:last-child a::before {
  left: -30px;
}
#shopaside1 > ul > li:nth-child(7) a,
#shopaside1 > ul > li:last-child a {
  font-weight: bold;
  color: #000;
}

.shopaside2 {
  width: 248px;
  height: 74px;
  border: 1px solid #e3e5e8;
  background: #f7f8f9;
  color: #404040;
  border-radius: 6px;
  padding: 12px 0;
  margin: 0 0 7px 14px;
}
#shop_icon {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#shop_icon .aside_items .aside_item span  {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #e3e5e8;
  border-radius: 50%;
  background: #fff;
  text-align: center;
}
#shop_icon .aside_items:first-child .aside_item span a {
  background: url(./img/naver_miniicon.png)center center/cover no-repeat;
  background-size: 158px 137px;
  background-position: -44px -3px;
  width: 32px;
  height: 32px;
  display: inline-block;
}
#shop_icon .aside_items:nth-child(2) .aside_item span a {
  background: url(./img/naver_miniicon.png)center center/cover no-repeat;
  background-size: 158px 137px;
  background-position: -84px -41px;
  width: 32px;
  height: 32px;
  display: inline-block;
}
#shop_icon .aside_items:nth-child(3) .aside_item span a {
  background: url(./img/naver_miniicon.png)center center/cover no-repeat;
  background-size: 158px 137px;
  background-position: -44px -40px;
  width: 32px;
  height: 32px;
  display: inline-block;
}
#shop_icon .aside_items:nth-child(4) .aside_item span {
  padding-top: 5px;
}
#shop_icon .aside_items:nth-child(4) .aside_item span a {
  background: url(./img/naver_miniicon.png)center center/cover no-repeat;
  background-size: 158px 137px;
  background-position: -121px -20px;
  width: 19px;
  height: 20px;
  display: inline-block;
}
#shop_icon .aside_items span {
  font-size: 13px;
  letter-spacing: -1px;
}
#shop_icon .aside_items:nth-child(4) > span {
  margin-top: 9px;
  display: inline-block;
}
#shopaside3 {
  height: 180px;
  margin-top: 15px;
  /* border: 1px solid#f00; */
}
#shopaside3 img {
  width: 100%;
  height: 146px;
  border-radius: 6px;
  border: 1px solid #e3e5e8;
}
#shopaside3 figcaption {
  margin-top: 5px;
}
#shopaside3 figcaption a {
  font-size: 16px;
  letter-spacing: -1px;
}
/* shopmedia */
#shopmedias {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding: 17px 10px;
  border-top: 1px solid #e3e5e8;
}
#shopmedias > span:nth-child(2) {
  font-size: 13px;
}
#shopmedias > span:first-child,
#shopmedias > span:last-child {
  width: 36px;
  height: 36px;
  border: 1px solid #b3b3be;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
}
#shopmedias > span:first-child:hover,
#shopmedias > span:last-child:hover {
  background-color: #f4f4f8;
  box-shadow: 0 0 10px #f4f4f8;
  transition-duration: 0.3s;
}

/* 지식 */
#knowledge {
  width: 833px;
  height: 844px;
  border: 1px solid #e3e5e8;
  border-radius: 8px;
  padding: 0 5px;
  margin-bottom: 50px;
  position: relative;
}
.knowledge_menu {
  width: 100%;
  height: 51px;
  padding: 15px;
}
.knowledge_menu ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
.knowledge_menu ul li a,
.knowledge_menu ul li span {
  font-size: 17px;
  color: #08080880;
}

.knowledge_menu ul li:first-child a {
  font-weight: bold;
}
.knowledge_menu ul li a {
  position: relative;
}
.knowledge_menu li:nth-child(1) em {
  font-weight: bold;
  position: absolute;
  top: -5px;
  left: 35px;
}
.knowledge_menu li:last-child a {
  color: #000;
  font-weight: bold;
}

.knowledge_row {
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #e3e5e8;
}
.knowledge_row figure {
  width: 250px;
  height: 204px;
}
.knowledge_row figure img {
  width: 250px;
  height: 145px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
}
.knowledge_row figure figcaption {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 550;
  margin-top: 4px;
}
.knowledge_row figure span {
  font-size: 13px;
  color: #08080880;
  margin-top: 3px;
}
.knowledge_contents {
  width: 790px;
  height: 490px;
  display: flex;
  justify-content: space-between;
  margin: 0 17px;
  margin-bottom: 15px;
}
.knowledge_list {
  width: 381px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  perspective: 500px;
}
.knowledge_list img {
  width: 154px;
  height: 100px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
}
.content {
  margin-left: 10px;
}
.knowledge_list .content h4 {
  width: 211px;
  color: #101010;
  font-size: 15px;
  font-weight: normal;
}
.knowledge_list .content span {
  font-size: 14px;
  color: #606060;
  display: flex;
  align-items: center;
  gap: 5px;
}
.knowledge_list .content .one::before {
  content: "";
  background: url("./img/3-3.JPG") no-repeat;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  border-radius: 50%;
  margin-right: 3px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
}
.knowledge_list .content .two::before {
  content: "";
  background: url("./img/3-7-1.jpg") no-repeat;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  border-radius: 50%;
  margin-right: 3px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
}
.knowledge_list .content .three::before {
  content: "";
  background: url("./img/3-5-1.jpg") no-repeat;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
}
.knowledge_list .content .four::before {
  content: "";
  background: url("./img/3-4-1.jpg") no-repeat;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
}
.knowledge_list .content .five::before {
  content: "";
  background: url("./img/5-1-1.png") no-repeat;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
}
.knowledge_list .content .six em {
  background: url("./img/naver_main.png") no-repeat;
  display: block;
  background-size: 435px 414px;
  background-position: -61px -390px;
  width: 13px;
  height: 17px;
  margin-left: 3px;
}
.knowledge_list .content .seven::before {
  content: "";
  background: url("./img/5-4-1jpg.jpg") no-repeat;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.06);
  padding-right: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
}
.view_more {
  width: 831px;
  height: 56px;
  border-top: 1px solid #e3e5e8;

  position: absolute;
  left: 0;
  font-size: 15px;
}
.view_more h5 {
  font-size: 16px;
  text-align: center;
  line-height: 56px;
}

/* Login */
#login {
  width: 420px;
  height: 170px;
  border: 1px solid#e3e5e8;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 18px;
}
#login > span:first-child {
  font-size: 14.7px;
  font-weight: 500;
}
#login > span:nth-child(2) {
  /* 인라인은 너비 높이 못받음 초록이 만들어줄라고 */
  display: inline-block;
  width: 382px;
  height: 54px;
  background-color: #03c75a;
  color: #fff;
  border-radius: 4px;
  line-height: 58px;
  font-size: 15px;
}
#login > span:nth-child(2) > span {
  display: inline-block;
  background: url(./img/naver_main.png) center center/cover no-repeat;
  background-size: 433px 412px;
  background-position: -120px -161px;
  width: 72px;
  height: 15px;
  margin: 3px 8px 0 0;
}
#login > div > span {
  color: #606060;
  font-size: 13.6px;
  font-weight: 500;
  display: inline-block;
  margin: 10px;
  position: relative;
}
#login > div > span:hover {
  text-decoration: underline;
}
#login > div > span::before {
  content: "|";
  position: absolute;
  left: -13px;
  color: #606060;
}
#login > div > span:first-child::before {
  display: none;
}
/* Ad section 02 */
#sidead {
  background: url("./img/aside_ad.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 420px;
  height: 240px;
  border-radius: 8px;
  margin-bottom: 18px;
  border: 1px solid #e3e5e8;
}
.short_box {
  width: 420px;
  height: 56px;
  border: 1px solid #e3e5e8;
  border-radius: 8px;
  padding: 14px 10px;
  margin-bottom: 18px;
}
.box_letter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.short_box > span {
  font-size: 14px;
  color: #000;
  font-weight: bold;
}
.short_box > span > span:first-child {
  width: 54px;
  height: 24px;
  border: 1px solid #ebebeb;
  box-shadow: 0px 0px 2px #ebebeb;
  border-radius: 20px;
  margin-right: 8px;
  color: #606060;
  padding: 2px 8px;
  font-size: 12.5px;
  font-weight: bold;
  letter-spacing: -1px;
}

/* weather */
#wheather_aside {
  width: 420px;
  height: 236px;
  border: 1px solid #e3e5e8;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 18px;
}
.wheather {
  display: flex;
}
#wheather_top {
  padding-bottom: 8px;
  border-bottom: 1px solid #e3e5e8;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wheather_top .wheather span:first-child {
  font-weight: 550;
}
#wheather_top .wheather span:nth-child(2) {
  width: 80px;
  height: 28px;
  border: 1px solid #e3e5e8;
  color: #606060;
  letter-spacing: -1;
  font-size: 12px;
  border-radius: 20px;
  padding: 6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: normal;
  margin-left: 5px;
}
#wheather_top .wheather .temp_icon::before {
  content: "";
  display: inline-block;
  background: url("./img/naver_main.png") no-repeat;
  background-size: 435px 423px;
  background-position: -390px -381px;
  width: 12px;
  height: 12px;
}
#wheather_top .wheather span:nth-child(2) i {
  font-size: 1px;
  /* color: transparent;
  -webkit-text-stroke-color: 3px #fff;*/
  width: 13px;
  height: 13px;
  border: 1px solid #606060;
  border-radius: 50%;
  background: #fff;
  margin-right: 5px;
  text-align: center;
  padding: 1.5px;
}
#wheather_top .address {
  font-size: 14px;
  color: #606060;
}
.container {
  width: 384px;
  height: 184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main_left {
  width: 180px;
  height: 145px;
}
.left_big_main {
  display: flex;
}
.left_top .big_icon {
  background: url("./img/naver_weather.png") no-repeat;
  width: 86px;
  height: 86px;
  background-size: 641px 587px;
  background-position: 0 0px;
}
.temp_big_temperature {
  padding: 4px;
}
.temp_big_temperature span:first-child {
  font-size: 38px;
  position: relative;
  font-weight: 500;
}
.temp_big_temperature span em {
  font-size: 20px;
  font-weight: 800;
  font-style: normal;
  position: absolute;
  top: -4px;
}
.temp_big_temperature .sunny {
  font-weight: bold;
  position: absolute;
  margin-top: -5px;
}
.small_temperature {
  text-align: center;
  position: relative;
  margin-top: 10px;
}
.small_temperature span {
  font-size: 14px;
}
.small_temperature span em {
  font-style: normal;
  font-size: 1px;
  position: absolute;
  top: -5px;
}
.small_temperature span:first-child {
  color: #3172e7;
}
.small_temperature span:nth-child(2) {
  color: #bbbbbb;
}
.small_temperature span:last-child {
  color: #cd3534;
}
.air_condition {
  display: flex;
  justify-content: center;
}
.air_condition h6 {
  font-size: 14px;
  font-weight: normal;
}
.air_condition em {
  font-style: normal;
  color: #32a1ff;
}

.air_condition span {
  color: #bbb;
  font-size: 15px;
}
#main_right {
  width: 220px;
  height: 145px;
}
.temperature_contents {
  display: flex;
  padding-left: 20px;
  background: url(./img/wheather_chart.png) center center no-repeat;
  background-size: 190px 53px;
  background-position: right 32px ;
}
.temperature_content {
  width: 38px;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #6e6e6e;

}
.temperature_content:nth-child(1) h6  {
margin-top: 10px;
}
.temperature_content:nth-child(2) h6  {
margin-top: 20px;
}
.temperature_content:nth-child(3) h6  {
margin-top: 30px;
}
.temperature_content:nth-child(4) h6  {
margin-top: 40px;
}
.temperature_content:nth-child(5) h6  {
margin-top: 40px;
}
.temperature_content h6 {
  font-weight: 540;
  font-size: 13px;
  position: relative;
}
.temperature_content .first {
  color: #000;
  font-weight: bold;
}
.temperature_content > h6 > em {
  font-style: normal;
  position: absolute;
  top: -7px;
}
.temperature_content .small_icon1 {
  display: block;
  width: 32px;
  height: 32px;
  background: url("./img/naver_weather.png") no-repeat;
  background-size: 641px 587px;
  background-position: -0px -522px;
}
.temperature_content .small_icon2 {
  display: block;
  width: 32px;
  height: 32px;
  background: url("./img/naver_weather.png") no-repeat;
  background-size: 641px 587px;
  background-position: -132px -522px;
}
.temperature_content .small_icon3 {
  display: block;
  width: 32px;
  height: 32px;
  background: url("./img/naver_weather.png") no-repeat;
  background-size: 641px 587px;
  background-position: -99px -522px;
}
.temperature_content .small_icon4 {
  display: block;
  width: 32px;
  height: 32px;
  background: url("./img/naver_weather.png") no-repeat;
  background-size: 641px 587px;
  background-position: -33px -522px;
}
.temperature_content .small_icon5 {
  display: block;
  width: 32px;
  height: 32px;
  background: url("./img/naver_weather.png") no-repeat;
  background-size: 641px 587px;
  background-position: -33px -522px;
}
.icon_text h5 {
  text-align: center;
  font-weight: 13px;
  font-weight: 500;
}

/* chart */
#chart_aside {
  width: 420px;
  height: 236px;
  border: 1px solid #e3e5e8;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 18px;
}
#chart_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #e3e5e8;
}
#chart_top .chart_left span:first-child {
  font-size: 17px;
  font-weight: bold;
}
#chart_top .chart_left .info_icon {
  background: url("./img/naver_main.png") no-repeat;
  background-size: 435px 414px;
  background-position: -410px -70px;
  width: 14px;
  height: 14px;
  display: inline-block;
}
.chart_right {
  display: flex;
  align-items: center;
  gap: 3px;
}
#chart_top .chart_right span:first-child {
  font-size: 15px;
  color: #606060;
  margin-top: 10px;
}
#chart_top .chart_right span:nth-child(2) {
  background: url("./img/naver_main.png") no-repeat;
  background-size: 435px 414px;
  background-position: -158px -371px;
  width: 16px;
  height: 17px;
  display: inline-block;
  color: #606060;
  margin-top: 5px;
}
.chart_main_left {
  width: 180px;
  height: 155px;
}
.chart_main_left h5 {
  font-weight: normal;
  font-size: 15px;
}
.chart_main_left h2 {
  font-size: 25px;
  font-weight: normal;
  margin-top: 2px;
}
.chart_main_left span.red {
  color: #f00;
  font-weight: lighter;
  font-size: 15px;
}
.chart_main_left span.red::before {
  content: "";
  background: url("./img/naver_main.png") no-repeat;
  background-size: 435px 414px;
  background-position: -426px -177px;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 3px;
}
.chart_main_left .chart_img {
  background: url("./img/chart..JPG") no-repeat;
  background-size: cover;
  background-position: center;
  width: 179px;
  height: 44px;
  display: block;
  margin-top: 5px;
}
.chart_main_left span {
  border: 1px solid #df00;
  display: block;
  margin-top: 6px;
  font-size: 15px;
}
.chart_main_right {
  width: 205px;
  height: 155px;
  margin-left: 15px;
}
.chart_main_right li {
  margin-bottom: 10px;
  border-bottom: 1px solid #e3e5e8;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chart_main_right .chart_arrow {
  background: url("./img/naver_main.png") no-repeat;
  display: block;
  background-size: 435px 414px;
  background-position: -61px -394px;
  width: 14px;
  height: 15px;
}

.chart_contents li a,
.chart_contents li span {
  font-size: 15px;
  color: #101010;
}
.chart_contents li:hover a,
.chart_contents li:hover span {
  text-decoration-line: underline;
}
.chart_contents li:last-child a {
  color: #606060;
}
.chart_contents ul li:nth-child(2) span::before,
.chart_contents ul li:nth-child(3) span::before {
  content: "";
  background: url("./img/naver_main.png");
  background-size: 435px 414px;
  background-position: -426px -176px;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 2px;
}
.chart_contents ul li:first-child span::before {
  content: "";
  background: url("./img/naver_main.png");
  background-size: 435px 414px;
  background-position: -426px -169px;
  width: 10px;
  height: 9px;
  display: inline-block;
  margin-right: 3px;
}

/* widget */
.widget_aside {
  width: 420px;
  height: 806px;
  background: #f4f6fa;
  border-radius: 8px;
  border: 1px solid #e3e5e8;
  padding: 15px 18px 20px;
  margin-bottom: 18px;
}
.widget_aside h3 {
  font-size: 16px;
  margin-bottom: 13px;
}
.square {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.square section {
  width: 186px;
  height: 192px;
  border: 1px solid #e3e5e8;
  border-radius: 8px;
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
}
.square_left .calender h6 {
  font-size: 15px;
  color: #080808;
}
.square_left .calender h2 {
  font-size: 40px;
  font-weight: normal;
  color: #101010;
}
.square_left .calender {
  position: relative;
}
.square_left .calender em {
  font-style: normal;
  font-size: 13px;
  color: #101010;
}
.square_left .calender span {
  position: absolute;
  bottom: 15px;
  text-decoration-line: underline;
  color: #606060;
}
section.papago {
  padding: 18px 18px 12px;
  position: relative;
}
.square_left .papago_text {
  background: url("./img/naver_main.png") no-repeat;
  background-size: 435px 414px;
  background-position: -164px -180px;
  width: 76px;
  height: 17px;
  display: block;
}
.square_left .papago_icon {
  background: url("./img/naver_main.png") no-repeat;
  background-size: 435px 414px;
  width: 78px;
  height: 68px;
  display: block;
  margin: 20px 40px;
  text-align: center;
}
section.papago h4 {
  display: block;
  width: 120px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  background: #00a2ff;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  position: absolute;
  bottom: 10px;
  left: 33px;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.04);
}
section.papago h4:hover {
  background: #1280e2;
}
section.memo {
  padding: 0;
}
.square_right .memo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.square_right .memo .memo_top {
  width: 100%;
  height: 48px;
  background: #00c772;
  border-radius: 8px 8px 0 0;
  color: #ffff;
}
.square_right .memo_top h5 {
  font-size: 16px;
  padding: 13px;
  height: 46px;
  border-bottom: 1px dashed hsl(136, 100%, 77%);
}
.square_right span:last-child a {
  font-size: 15px;
  text-decoration-line: underline;
  margin: 10px;
  color: #606060;
  display: block;
}
.square_right span {
  width: 100%;
  height: 46px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
section.dictionary {
  padding: 0;
  position: relative;
}
.dictionary_box {
  width: 178px;
  height: 192px;
  border-right: 1px solid #e3e5e8;
  border-radius: 8px;
}
.dictionary_box::before {
  content: "";
  position: absolute;
  width: 181px;
  height: 192px;
  border-right: 1px solid #e3e5e8;
  border-radius: 8px;
}
.dictionary_box .line span {
  display: block;
  width: 178px;
  height: 23px;
  border-top: 1px solid #e3e5e8;
  transform: translateY(-9px);
}

.dictionary h5 {
  padding: 14px 18px 19px;
  font-weight: bold;
  font-size: 17.6px;
}
.dictionary_text {
  width: 178px;
  height: 90px;
  padding: 0 16px;
  position: absolute;
  top: 50px;
}
.dictionary p {
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
  cursor: pointer;
  color: #101010;
}
.dictionary_text p:nth-child(2) {
  display: none;
  color: #4e4e4e;
  font-size: 13px;
}
.dictionary_text:hover p:nth-child(1) {
  display: none;
}
.dictionary_text:hover p:nth-child(2) {
  display: block;
}

.dictionary_box .dictionary_icon {
  width: 38px;
  height: 38px;
  border: 1px solid #e3e5e8;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  padding: 6px;
  position: absolute;
  right: 12px;
  bottom: 10px;
  z-index: 10;
}
.dictionary_box .dictionary_icon:hover {
  width: 130px;
  border-radius: 30px;
  background: #031f5f;
}
.dictionary_box .dictionary_icon:hover::before {
  content: "단어 검색하기";
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  top: 9px;
  left: 13px;
  color: #fff;
}
.dictionary_box .dictionary_icon:hover::after {
  content: "";
  background: url("./img/naver_main.png");
  display: block;
  width: 20px;
  height: 20px;
  background-size: 435px 414px;
  background-position: -391px -327px;
  position: absolute;
  right: 8px;
}

.dictionary_box .dictionary_icon::after {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  background: url("./img/naver_main.png");
  background-size: 435px 414px;
  background-position: -50px -349px;
}

/* clip section */
.widget_clip {
  width: 384px;
  height: 287px;
  border: 1px solid #e3e5e8;
  border-radius: 8px;
  background: #fff;
  margin-bottom: 15px;
  padding: 15px;
  overflow: hidden;
}
.widget_clip h3 {
  display: flex;
  align-items: center;
}
.widget_clip h3::before {
  content: "";
  background: url("./img/naver_main.png");
  display: inline-block;
  width: 54px;
  height: 22px;
  background-size: 435px 414px;
  background-position: -55px -248px;
  margin-right: 5px;
}
.clip_contents {
  display: grid;
  grid-template-columns: repeat(4, 108px);
  grid-gap: 10px;
}
.clip_content img {
  width: 108px;
  height: 162px;
  border-radius: 6px;
  margin-bottom: 5px;
}
.clip_desc {
  width: 108px;
  height: 50px;
  /* 정해놓은 너비값을 넘긴경우 버리는 역할을 하는 요소 */
  white-space: nowrap;
  /*버려진 컨텐프를 보이지 않게 하는 역할*/
  overflow: hidden;
  /*버려진 컨텐츠 요소를 말줄임표 형식으로 표기해주는 역할*/
  text-overflow: ellipsis;
}
.clip_desc span {
  font-size: 14px;
}
.mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile > div {
  display: flex;
}
.mobile .img {
  background: url("./img/naver_main.png") no-repeat;
  display: inline-block;
  background-size: 435px 414px;
  background-position: -149px -348px;
  width: 24px;
  height: 24px;
  margin: 9px 0;
}
.mobile h3 {
  display: inline-block;
  padding: 10px;
}
.mobile span {
  background: url("./img/naver_main.png") no-repeat;
  display: inline-block;
  background-size: 435px 414px;
  background-position: -61px -394px;
  width: 14px;
  height: 15px;
  margin-bottom: 10px;
}
.mobile em {
  font-style: normal;
  font-weight: normal;
}

/* whale_section */
.whale {
  width: 420px;
  height: 80px;
  border: 1px solid #e3e5e8;
  border-radius: 8px;
  padding: 20px 20px;
  display: grid;
  grid-template-columns: 42px 298px;

  grid-gap: 7px;
}
.whale_img {
  background: url("./img/naver_main.png") no-repeat;
  display: block;
  background-size: 435px 414px;
  background-position: -201px -140px;
}
.whale h5 {
  color: #101010;
  font-size: 14px;
}
.whale span {
  display: block;
  font-size: 14px;
  color: #606060;
  font-weight: normal;
}

/* footer */
footer {
  width: 100%;
  height: 460px;
  border-top: 1px solid #ddd;
  background: #f5f6f7;
}
.footer_main {
  width: 1280px;
  height: 160px;
  margin: 0 auto;
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer_content {
  display: grid;
  grid-template-columns: 160px 250px;
  grid-gap: 20px;
}
.footer_content img {
  width: 160px;
  height: 100px;
}
.footer_main_decs .badge {
  width: 118px;
  height: 24px;
  background: #a0adb2;
  padding: 2px 7px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
}
.footer_main_decs h4 {
  font-size: 14px;
  margin-top: 14px;
  color: #222122;
  cursor: pointer;
}
.footer_main_decs h4:hover {
  text-decoration: underline;
}
.footer_main_decs p {
  margin-top: 3px;
  font-size: 14px;
  color: #545454;
}
.footer_notice {
  width: 1280px;
  height: 60px;
  margin: 0 auto;
  padding: 21px 0;
  display: flex;
  justify-content: space-between;
}
.footer_notice h4 {
  font-size: 14px;
  letter-spacing: 1px;
  color: #101010;
  cursor: pointer;
}
.footer_notice h4:hover {
  text-decoration: underline;
}
.footer_notice span {
  background: url("./img/naver_main.png") no-repeat;
  display: inline-block;
  width: 8px;
  height: 12px;
  background-size: 435px 414px;
  background-position: -426px -36px;
  margin-left: 7px;
}
footer hr {
  border: none;
  width: 1280px;
  margin: 0 auto;
  height: 1px;
  background: #ddd;
}
.footer_cooperation {
  width: 1280px;
  margin: 0 auto;
  padding: 20px 0;
  display: grid;
  align-items: center;
  grid-template-columns: 850px 385px;
  grid-template-rows: 120px;
  grid-gap: 43px;
}
.creators {
  display: grid;
  grid-template-columns: 110px 650px;
  align-items: center;
  margin-top: 10px;
}
.creators:first-child {
  margin-top: 0;
}
.creators ul {
  display: flex;
  gap: 10px;
}
.creators li.bar::after {
  content: "|";
  font-size: 13px;
  color: #b4b4b4;
  margin-left: 10px;
}
.creators li a:hover {
  text-decoration: underline;
}
.creators h4 {
  font-size: 14px;
  color: #101010;
  letter-spacing: 0.6px;
}
.creators li {
  color: #404040;
  font-size: 14px;
}
.footer_whale {
  display: grid;
  grid-template-columns: 150px 150px;
  justify-content: flex-end;
  align-items: center;
  grid-gap: 40px;
}
.footer_whale_flower {
  display: flex;
  justify-content: space-between;
}
.footer_whale_flower span {
  display: block;
  margin-top: 3px;
  color: #404040;
  font-weight: normal;
}
.footer_whale_flower h4 {
  font-size: 14px;
  color: #101010;
  cursor: pointer;
}
.footer_whale_flower span:hover {
  text-decoration: underline;
}
.footer_whale_flower img {
  width: 48px;
  height: 48px;
}
.footer_nav {
  width: 1280px;
  margin: 0 auto;
  padding-top: 20px;
}
.footer_nav ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer_nav li a {
  font-size: 13px;
}
.footer_nav .bar::after {
  content: "|";
  font-size: 13px;
  color: #b4b4b4;
  margin-left: 10px;
}
