@import url("../font/324B1A_0_0.42ebc0e9.woff2");
@import url("../font/SuisseIntl-Medium-WebS.5ee1ad41.woff2");
@import url("../font/SuisseIntl-Regular-WebS.a55b96fd.woff2");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: regular;
  src: url("../font/SuisseIntl-Regular-WebS.a55b96fd.woff2");
}
@font-face {
  font-family: medium;
  src: url("../font/SuisseIntl-Medium-WebS.5ee1ad41.woff2");
}
@font-face {
  font-family: test;
  src: url("../font/324B1A_0_0.42ebc0e9.woff2");
}
.container {
  background: url("../group.project.Aesop/background_light.png") center center;
  width: 100%;
  height: 400vh;
}

header {
  width: 100%;
}
header .gift_top {
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #000;
  color: white;
}
header .gift_top h4 {
  font-size: 20px;
  font-weight: normal;
}
header .gift_top h4::after {
  content: "+";
  color: white;
  margin-left: 20px;
}
header nav {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
header nav .logo {
  font-size: 16px;
  position: absolute;
}
header nav .gnb {
  display: flex;
  gap: 20px;
  margin-left: 65px;
}
header nav .gnb a {
  font-size: 16px;
  color: black;
}
header nav .gnb_right {
  display: flex;
  gap: 25px;
}
header nav .gnb_right .finder {
  position: relative;
  margin-right: 60px;
}
header nav .gnb_right .finder::after {
  content: "";
  width: 80px;
  height: 1px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}
header nav .gnb_right a {
  font-size: 16px;
  color: black;
}

main {
  width: 100%;
  height: 100vh;
}
main .banner {
  width: 100%;
  height: 467px;
  position: relative;
}
main .banner img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
  border: 1px solid #f00;
}
main .banner img::before {
  border: 1px solid #f00;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #000, transparent);
}
main .banner .banner_heading {
  position: absolute;
  top: 50%;
}