@font-face {
  font-family: Regular;
  src: url("../font/SuisseIntl-Regular-WebS.a55b96fd.woff2");
}
@font-face {
  font-family: Medium;
  src: url("../font/SuisseIntl-Medium-WebS.5ee1ad41.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  background: url("../img/common/lightback.png") center center;
  width: 100%;
  height: 430vh;
}
.container section {
  width: 100%;
  height: 100vh;
}

.query_version {
  position: fixed;
  width: 100%;
  height: 100%;
  border: 1px solid #f00;
}
.query_version .fixed_side_icon {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 5%;
  right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.query_version .fixed_side_icon img {
  width: 100%;
  height: 100%;
}
.query_version .mini_ask {
  display: none;
}
.query_version .mini_ask.show {
  display: block;
  width: 20%;
  height: 65%;
  position: fixed;
  bottom: 5%;
  right: 8%;
  background: #271100;
  color: #fff;
  opacity: 0.9;
}
.query_version .mini_ask.show label em {
  color: #f00;
}
.query_version .mini_ask.show h1 {
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #383838;
  background: #dfdfdf;
  padding: 3% 0;
}
.query_version .mini_ask.show p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 1%;
  padding: 3%;
}
.query_version .mini_ask.show p span {
  font-weight: bold;
}
.query_version .mini_ask.show .mini_ask_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3.5%;
}
.query_version .mini_ask.show .mini_ask_form label {
  margin-bottom: 1.5%;
  font-size: 16px;
}
.query_version .mini_ask.show .mini_ask_form input,
.query_version .mini_ask.show .mini_ask_form textarea {
  width: 100%;
  padding: 5px;
  outline: none;
  margin-bottom: 5px;
}
.query_version .mini_ask.show .mini_ask_form input::-moz-placeholder, .query_version .mini_ask.show .mini_ask_form textarea::-moz-placeholder {
  font-size: 24px;
}
.query_version .mini_ask.show .mini_ask_form input::placeholder,
.query_version .mini_ask.show .mini_ask_form textarea::placeholder {
  font-size: 24px;
}

header {
  width: 100%;
  height: 125px;
  background: url("../img/common/lightback.png");
}
header .gift_top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  background: #222;
  color: #fff;
}
header .gift_top h4 {
  font-size: 16px;
  font-weight: normal;
}
header .gift_top h4::after {
  content: "+";
  color: #fff;
  margin-left: 20px;
}
header nav {
  border: 1px solid #f00;
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}
header nav .logo {
  width: 65px;
}
header nav .logo img {
  width: 100%;
}
header nav .gnb {
  margin-left: -59%;
}
header nav .gnb ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-left: 80px;
}
header nav .gnb ul a {
  font-size: 16px;
  color: #383838;
}
header nav .gnb_right {
  display: flex;
  gap: 25px;
}
header nav .gnb_right a {
  color: #383838;
}
header nav .gnb_right .finder {
  position: relative;
  margin-right: 300px;
  font-size: 16px;
  color: #383838;
}
header nav .gnb_right .finder::before {
  content: "\f002";
  font-family: fontawesome;
}
header nav .gnb_right .finder::after {
  content: "";
  width: 80px;
  height: 1px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}
header nav .gnb_right .toggle {
  display: none;
}

aside#mobile_gnb_list {
  display: none;
}

#nav_detail_list {
  display: none;
  width: 100%;
  height: 0px;
  position: absolute;
  top: 120px;
  background: #fff;
  z-index: 1;
  transition: 0.5s;
}
#nav_detail_list #contentFrame {
  width: 100%;
  height: 100%;
  border: none;
}

#nav_detail_list.pc_gnb_show {
  display: block;
  height: 500px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home_page1 {
  width: 100%;
  height: 80vh;
}
.home_page1 .page1_inner > span {
  display: inline-block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
}
.home_page1 .page1_inner > span::before {
  content: "<";
  margin-right: 10px;
}
.home_page1 .page1_inner > span::after {
  content: ">";
  margin-left: 10px;
}
.home_page1 .page1_inner .banner {
  width: 100%;
  height: 467px;
  position: relative;
}
.home_page1 .page1_inner .banner img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
}
.home_page1 .page1_inner .banner img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #000, transparent);
}
.home_page1 .page1_inner .banner .banner_heading {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15%;
}
.home_page1 .page1_inner .banner .banner_heading .logo {
  width: 200px;
  height: 80px;
  position: relative;
  top: 0;
  left: 0;
}
.home_page1 .page1_inner .banner .banner_heading .logo img {
  width: 100%;
}
.home_page1 .page1_inner .banner .banner_heading > span {
  color: #fff;
  font-size: 20px;
}
.home_page1 .page1_inner .banner .banner_heading p {
  color: #fff;
  font-size: 24px;
  margin: 26px 0 5px 0;
}
.home_page1 .page1_inner .banner .banner_heading p span {
  display: block;
  font-weight: bold;
}
.home_page1 .page1_inner .banner .banner_heading > a {
  display: block;
  width: 133px;
  height: 42px;
  text-align: left;
  padding: 10px;
  margin-top: 24px;
  color: #fff;
  border: 1px solid #fff;
}
.home_page1 .page1_inner .banner .banner_heading > a::after {
  content: "";
  font-family: fontawesome;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.slick-slider {
  position: static;
}

.slick-arrow:hover {
  opacity: 1;
}

.slick-prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  width: 25px;
  height: 72px;
  background: url("../img/icon/KakaoTalk_20231106_175513563_04.png") no-repeat;
  background-size: 25px 72px;
  opacity: 0.5;
  transition: all 0.2s ease-in;
  border: 0;
  cursor: pointer;
  font-size: 0;
}

.slick-next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  width: 25px;
  height: 72px;
  background: url("../img/icon/KakaoTalk_20231106_175513563_07.png") no-repeat;
  background-size: 25px 72px;
  opacity: 0.5;
  transition: all 0.2s ease-in;
  border: 0;
  cursor: pointer;
  font-size: 0;
}

.best_seller {
  display: flex;
  margin: 40px;
}
.best_seller .bt_txt p {
  text-decoration: underline;
  font-size: 32px;
  color: #383838;
}
.best_seller .bt_product {
  position: relative;
  margin: 0 0 50px 170px;
  border: 1px solid #000;
  width: 75%;
  height: 400px;
  overflow: hidden;
}
.best_seller .bt_product .bestBtn {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.best_seller .bt_product .bestBtn .bt_prev {
  margin: 10px;
  width: 35px;
  height: 72px;
  background: url("../img/icon/arrow_right.png") no-repeat;
  opacity: 0.5;
  transition: all 0.2s ease-in;
}
.best_seller .bt_product .bestBtn .bt_next {
  margin: 10px;
  width: 35px;
  height: 72px;
  background: url("../img/icon/arrow_left.png") no-repeat;
  opacity: 0.5;
  transition: all 0.2s ease-in;
}
.best_seller .bt_product .bestBtn .br_prev:hover,
.best_seller .bt_product .bestBtn .bt_next:hover {
  opacity: 1;
}
.best_seller .bt_product .bestBtn #btleft.disabled,
.best_seller .bt_product .bestBtn #btright.disabled {
  display: none;
}
.best_seller .bt_product .items {
  height: auto;
}
.best_seller .bt_product .items .item.item4 img {
  height: 200px;
  margin-top: 50px;
}
.best_seller .bt_product .items .item {
  padding: 20px;
  text-align: center;
  margin-bottom: 65px;
}
.best_seller .bt_product .items .item img {
  width: 214px;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}
.best_seller .bt_product .items .item h5 {
  padding: 15px 0 0 0;
  font-weight: bold;
  font-size: 16px;
  color: #383838;
}
.best_seller .bt_product .items .item span {
  padding: 5px;
  font-size: 12px;
  color: #383838;
}

@media all and (max-width: 767px) {
  .best_seller {
    display: block;
    margin: 40px;
  }
  .best_seller .bt_txt p {
    text-decoration: underline;
    font-size: 32px;
    color: #383838;
  }
  .best_seller .bt_product {
    position: relative;
    margin: 0;
    border: 1px solid #000;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  .best_seller .bt_product .items {
    height: auto;
  }
  .best_seller .bt_product .items .item.item4 img {
    height: 200px;
    margin-top: 50px;
  }
  .best_seller .bt_product .items .item {
    padding: 20px;
    text-align: center;
    margin-bottom: 65px;
  }
  .best_seller .bt_product .items .item img {
    width: 100%;
    height: 250px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .best_seller .bt_product .items .item h5 {
    padding: 15px 0 0 0;
    font-weight: bold;
    font-size: 16px;
    color: #383838;
  }
  .best_seller .bt_product .items .item span {
    padding: 5px;
    font-size: 12px;
    color: #383838;
  }
}
.home_page2 {
  border: 1px solid seagreen;
}
.home_page2 .page2_inner .contents video {
  height: 40%;
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contents {
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
}
.contents .content_text {
  color: #383838;
  margin: 0 2%;
}
.contents .content_text h6 {
  font-size: 20px;
  margin-bottom: 4%;
}
.contents .content_text h1 {
  font-size: 32px;
  margin-bottom: 2%;
}
.contents .content_text p {
  font-size: 20px;
  margin-bottom: 15%;
}
.contents .content_text a {
  display: flex;
  align-items: center;
  width: 60%;
  height: 8%;
  padding-left: 1%;
  font-size: 16px;
  font-weight: bold;
  color: #383838;
  border: 1px solid #383838;
}

.quotation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  color: #717171;
  font-weight: bold;
}
.quotation .quote_text {
  font-size: 32px;
}
.quotation .quote_person {
  font-size: 24px;
}

.home_page3 {
  border: 1px solid seagreen;
}
.home_page3 .page3_inner .contents img {
  height: 40%;
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home_page4 {
  border: 1px solid seagreen;
}
.home_page4 .page4_inner .contents video {
  height: 40%;
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  width: 100%;
  height: 250px;
  background: #222;
}
footer .footer_inner {
  padding: 20px 30px;
}
footer .footer_inner .footer_contents {
  height: 230px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #383838;
}
footer .footer_inner .footer_contents .footer_content {
  width: 15%;
}
footer .footer_inner .footer_contents .footer_content.order {
  width: 30%;
}
footer .footer_inner .footer_contents .footer_content.order .order_list {
  display: flex;
}
footer .footer_inner .footer_contents .footer_content.order .order_list .left {
  flex: 1;
}
footer .footer_inner .footer_contents .footer_content.order .order_list .right {
  flex: 1;
}
footer .footer_inner .footer_contents .footer_content h3 {
  font-size: 14px;
  color: #717171;
  margin-bottom: 10px;
}
footer .footer_inner .footer_contents .footer_content p {
  color: #717171;
  font-size: 12px;
  line-height: 1.1rem;
  border-top: 1px solid #383838;
  padding-top: 10px;
}
footer .footer_inner .footer_contents .footer_content p span {
  display: block;
  margin-bottom: 5px;
}

@media screen and (min-width: 350px) and (max-width: 767px) {
  .container {
    width: 100%;
    height: 200vh;
  }
  .container .qa_page1 {
    width: 100%;
    height: 50vh;
  }
  .container .qa_page2 {
    height: 130vh;
  }
  .container.removeContainer {
    display: none;
  }
  header .gift_top h4 {
    font-size: 11px;
  }
  header .gift_top h4::after {
    margin-left: 5px;
  }
  header nav {
    width: 100%;
  }
  header nav .logo {
    margin-top: 5px;
    z-index: 99;
  }
  header nav .gnb {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    border: 1px solid #f00;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    z-index: 2;
    display: none;
  }
  header nav .gnb a {
    padding: 2%;
  }
  header nav .gnb_right {
    position: absolute;
    right: 2%;
    z-index: 99;
  }
  header nav .gnb_right a {
    color: #383838;
  }
  header nav .gnb_right .toggle {
    display: block;
    width: 23px;
    height: 13px;
    position: relative;
  }
  header nav .gnb_right .toggle span {
    display: block;
    width: 100%;
    height: 2px;
    background: #222;
    position: absolute;
    transition: all 0.3s;
  }
  header nav .gnb_right .toggle span:nth-child(1) {
    top: 4px;
  }
  header nav .gnb_right .toggle span:nth-child(2) {
    bottom: -3px;
  }
  header nav .gnb_right .active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  header nav .gnb_right .active span:nth-child(2) {
    top: 50%;
    transform: rotate(-45deg);
  }
  .query_version .fixed_side_icon {
    z-index: 99;
  }
  .query_version .mini_ask.show {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
  }
  .query_version .mini_ask.show p {
    font-size: 20px;
    line-height: 2em;
  }
  .query_version .mini_ask.show .mini_ask_form label {
    font-size: 20px;
  }
  .query_version .mini_ask.show .mini_ask_form input,
  .query_version .mini_ask.show .mini_ask_form textarea {
    padding: 10px;
    margin-bottom: 10px;
  }
  .query_version .mini_ask.show .mini_ask_form textarea {
    height: 300px;
  }
  .gift_top.removeGiftTop {
    height: 0%;
    opacity: 0;
  }
  aside#mobile_gnb_list {
    display: none;
  }
  #mobile_gnb_list {
    position: absolute;
    top: -50px;
    left: 0;
    opacity: 0.5;
    transition: all 0.5s;
  }
  #mobile_gnb_list.showModalGnb {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 110vh;
    top: 0;
    z-index: 6;
    opacity: 1;
    background: #fffef2;
  }
  #mobile_gnb_list.showModalGnb .modal_top_gnb_list {
    order: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 90px;
  }
  #mobile_gnb_list.showModalGnb .modal_top_gnb_list > li {
    width: 100%;
    padding: 15px 30px;
    border-bottom: 1px solid #383838;
  }
  #mobile_gnb_list.showModalGnb .modal_top_gnb_list > li:first-child {
    border-top: 1px solid;
  }
  #mobile_gnb_list.showModalGnb .modal_top_gnb_list > li > a {
    color: #383838;
    font-size: 20px;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 26px;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom .modal_bottom_mini_list {
    order: 1;
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom .modal_bottom_mini_list > li {
    display: inline-block;
    width: 48%;
    padding: 10px 0;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom .modal_bottom_mini_list > li > a {
    position: relative;
    font-size: 20px;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom .modal_bottom_mini_list > li > a::before {
    content: "";
    width: 0%;
    height: 1px;
    background: #383838;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom .modal_bottom_mini_list > li > a:hover::before {
    width: 100%;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom figure {
    order: 2;
    width: 200%;
    height: 250px;
    padding-left: 10px;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom figure img {
    width: 500px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom figcaption {
    order: 3;
    padding: 5px 0 0 20px;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom figcaption span {
    display: block;
    margin-bottom: 10px;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom figcaption span a {
    font-size: 20px;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom figcaption h3 {
    font-size: 24px;
    font-weight: normal;
    position: relative;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom figcaption h3::before {
    content: "";
    width: 0%;
    height: 1px;
    background: #383838;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
  }
  #mobile_gnb_list.showModalGnb .gnb_list_bottom figcaption h3:hover::before {
    width: 100%;
  }
  #mobile_gnb_list {
    display: block;
    position: absolute;
    top: -50px;
    left: 0;
    opacity: 0.5;
    transition: all 0.5s;
  }
  #mobile_gnb_list.showModalGnb {
    display: block;
    width: 100%;
    height: 120vh;
    top: 0;
    border: 1px solid #00f;
    z-index: 6;
    opacity: 1;
    background: #fffef2;
  }
  #mobile_gnb_list.showModalGnb > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 90px 0;
  }
  #mobile_gnb_list.showModalGnb > ul > li {
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #383838;
  }
  #mobile_gnb_list.showModalGnb > ul > li:first-child {
    border-top: 1px solid;
  }
  #mobile_gnb_list.showModalGnb > ul > li > a {
    padding: 0 5%;
  }
  .contents {
    display: flex;
    flex-direction: column;
  }
  .contents .content_text h6 {
    margin-top: 5%;
    font-size: 16px;
  }
  .contents .content_text h1 {
    font-size: 20px;
  }
  .contents .content_text p {
    font-size: 16px;
    margin-bottom: 5%;
  }
  .contents .content_text a {
    width: 55%;
    padding: 5px;
    font-size: 14px;
  }
  .quotation {
    margin-top: 10%;
    width: 95%;
    text-align: center;
  }
  .quotation .quote_text {
    font-size: 16px;
  }
  .quotation .quote_person {
    margin-top: 5px;
    font-size: 14px;
  }
  .home_page2 .page2_inner .contents {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home_page2 .page2_inner .contents video {
    width: 100%;
    height: 100%;
  }
  .home_page2 .page2_inner .contents .content_text {
    width: 95%;
  }
  .home_page3 .page3_inner .contents {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home_page3 .page3_inner .contents img {
    width: 100%;
    height: 100%;
  }
  .home_page3 .page3_inner .contents .content_text {
    width: 95%;
    margin-bottom: 8%;
  }
  .home_page4 .page4_inner .contents {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home_page4 .page4_inner .contents video {
    width: 100%;
    height: 100%;
  }
  .home_page4 .page4_inner .contents .content_text {
    width: 95%;
  }
  footer {
    width: 100%;
    height: 100vh;
  }
  footer .footer_inner .footer_contents {
    width: 100%;
    flex-direction: column;
    border-bottom: none;
  }
  footer .footer_inner .footer_contents .footer_content {
    width: 48%;
  }
}