* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* header */
#wrap {
  width: 100%;
  height: 100%;
}
header {
  width: 1280px;
  height: 261px;
  margin: 20px auto;
}
header #topbar {
  width: 1280px;
  height: 15%;
  position: relative;
}
header #topbar p {
  margin: 10px;
  float: left;
  width: 30px;
}
header #topbar p i {
  font-size: 30px;

}
header #topbar #left {
  float: left;
}
header #topbar #right {
  float:right;
  position: absolute;
  top: 0;
  right: 0;

}
header #blank {
  clear: both;
  text-align: center;

}
header > #blank > input {
  width: 700px;
  height: 58px;
  border: 1px solid #03c75a;
  outline: none;
  border-radius: 30px;
  padding: 0 60px;
  font-size: 24px;
  

}
header #gnb {
  margin: 0 310px;
}
header #gnb > #pic_gnb {
  float: left;
  margin-top: 20px;
}
header #gnb > #pic_gnb li {
  float: left;
}
header #gnb > #pic_gnb a {
  width: 45px;
  height: 45px;
  border: 1px solid #fff;
  float: left;
  margin: 10px;
  border-radius: 35%;
  box-shadow: 0px 0px 5px #8a8989;
}
header > #gnb > #pic_gnb a i:nth-of-type(1) {
  font-size: 30px;
  line-height: 45px;
  margin-left: 6px;
  text-align: center;
  color: #03c75a;
}
header > #gnb > #pic_gnb a i:nth-of-type(2) {
  font-size: 30px;
  line-height: 45px;
  margin-left: 6px;
  text-align: center;
  color: #03c75a;
}
header > #gnb > #pic_gnb a i:nth-of-type(1) {
  font-size: 30px;
  line-height: 45px;
  margin-left: 6px;
  text-align: center;
  color: #03c75a;
}
header > #gnb > #pic_gnb a i:nth-of-type(1) {
  font-size: 30px;
  line-height: 45px;
  margin-left: 6px;
  text-align: center;
  color: #03c75a;
}
header > #gnb > #pic_gnb a i:nth-of-type(1) {
  font-size: 30px;
  line-height: 45px;
  margin-left: 6px;
  text-align: center;
  color: #03c75a;
}
header > #gnb > #pic_gnb a i:nth-of-type(1) {
  font-size: 30px;
  line-height: 45px;
  margin-left: 6px;
  text-align: center;
  color: #03c75a;
}
header > #gnb > #pic_gnb a i:nth-of-type(1) {
  font-size: 30px;
  line-height: 45px;
  margin-left: 6px;
  text-align: center;
  color: #03c75a;
}
header > #gnb > #pic_gnb a i:nth-of-type(1) {
  font-size: 30px;
  line-height: 45px;
  margin-left: 6px;
  text-align: center;
  color: #03c75a;
}
header > #gnb > #pic_gnb a i:nth-of-type(1) {
  font-size: 30px;
  line-height: 45px;
  margin-left: 6px;
  text-align: center;
  color: #03c75a;
}
header > #gnb > #pic_gnb a i:nth-of-type(1) {
  font-size: 30px;
  line-height: 45px;
  margin-left: 6px;
  text-align: center;
  color: #03c75a;
}
header #gnb > #con_gnb {
  clear: both;
}
header #gnb > #con_gnb li {
  float: left;
}
header #gnb > #con_gnb a {
  color: #000;
  font-size: 15px;
  margin: 16px;
}


/* section */
#main {
  width: 1280px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}
#main > #first {
  width: 800px;
  height: 130px;
  background: url("./캡처.PNG") no-repeat;
  border: 1px solid #000;
  border-radius: 15px;
  position: absolute;
  left: 0;
}
#main > #second {
  width: 800px;
  height: 440px;
  border: 1px solid #000;
  border-radius: 15px;
  position: absolute;
  top: 160px;

}





