* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  /* 상속을 하게 되면 기본적으로 검정색임 */
}
/* Shop Section */
#shopsection {
  width: 833px;
  height: 570px;
  border: 1px solid#e3e5e8;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 16px;
}
#shopmenu {
  color: #b3b3be;
  font-size: 18px;
}
#shopmenu > span:first-child {
  color: #000;
  font-weight: bold;
}

#shopboxgroup {
  display: flex;
  flex-direction: row;
  gap:16px;

}
#shopbox {
  width: 680px;
  height: 51px;
  background-color: #f3f3f6;
  border-radius: 6px;
  padding: 15px;
  margin-top: 14px;
  margin-bottom: 18px;
}
#shopbox > span {
  font-size: 16px;
  
}  
#shopbox > span > span {
  color: #c62eed;
}
#nextbtn {
  margin-top: 25px;
}
#nextbtn > span {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #6d6d6d;
}
#nextbtn > span > i:first-child {
  width: 30px;
  height: 30px;
  border: 1px solid #6d6d6d;
  text-align: center;
  padding: 6px;
  border-radius: 5px 0 0 5px;
}
#nextbtn > span > i:last-child {
  width: 30px;
  height: 30px;
  border: 1px solid #6d6d6d;
  text-align: center;
  padding: 6px;
  border-radius: 0 5px 5px 0;
}

/* shopcontents */
#shopimgs {
  width: 530px;
  display: flex;
  flex-direction: column;
}
.shopcontents {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 10px;
}
.shopcontent {
  display: flex;
  flex-direction: column;
}

#shopimg1 > .shopcontents > .shopcontent:nth-of-type(1) > .shopcontent-img {
  width:98px;
  height: 126px;
  background: url("./contents\ \(1\)/1.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  margin-bottom: 7px;
}
#shopimg1 > .shopcontents > .shopcontent:nth-of-type(2) > .shopcontent-img {
  width:98px;
  height: 126px;
  background: url("./contents\ \(1\)/2.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  margin-bottom: 7px;
}
#shopimg1 > .shopcontents > .shopcontent:nth-of-type(3) > .shopcontent-img {
  width:98px;
  height: 126px;
  background: url("./contents\ \(1\)/3.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  margin-bottom: 7px;
}
#shopimg1 > .shopcontents > .shopcontent:nth-of-type(4) > .shopcontent-img {
  width:98px;
  height: 126px;
  background: url("./contents\ \(1\)/4.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  margin-bottom: 7px;
}
#shopimg1 > .shopcontents > .shopcontent:nth-of-type(5) > .shopcontent-img {
  width:98px;
  height: 126px;
  background: url("./contents\ \(1\)/5.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  margin-bottom: 7px;
}
#shopimg2 > .shopcontents > .shopcontent:nth-of-type(1) > .shopcontent-img {
  width:98px;
  height: 126px;
  background: url("./contents\ \(1\)/6.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  margin-bottom: 7px;
}
#shopimg2 > .shopcontents > .shopcontent:nth-of-type(2) > .shopcontent-img {
  width:98px;
  height: 126px;
  background: url("./contents\ \(1\)/7.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  margin-bottom: 7px;
}
#shopimg2 > .shopcontents > .shopcontent:nth-of-type(3) > .shopcontent-img {
  width:98px;
  height: 126px;
  background: url("./contents\ \(1\)/8.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  margin-bottom: 7px;
}
#shopimg2 > .shopcontents > .shopcontent:nth-of-type(4) > .shopcontent-img {
  width:98px;
  height: 126px;
  background: url("./contents\ \(1\)/9.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  margin-bottom: 7px;
}
#shopimg2 > .shopcontents > .shopcontent:nth-of-type(5) > .shopcontent-img {
  width:98px;
  height: 126px;
  background: url("./contents\ \(1\)/10.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  margin-bottom: 7px;
}
#shopimg1 > .shopcontents > .shopcontent > .shopcontent-items {
  font-size: 13.5px;
  letter-spacing: -1px;
}
#shopimg2 > .shopcontents > .shopcontent > .shopcontent-items {
  font-size: 13.5px;
  letter-spacing: -1px;
}
/* shop aside */
#shop {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 22px;
}
#shopaside {
  width: 300px;
  height: 100px;
  border: 1px solid #e3e5e8;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}


