@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: #edfaff;
}
section {
  width: 340px;
  padding: 30px;
  background-color: #fff;
  margin: 50px auto;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
section nav.menu {
  width: 100%;
  /*display: flex;
  justify-content: space-between;  레이아웃 정렬의 가장 최근 방법 양쪽으로 밀겠다는 뜻
  center는 중간으로 몰겠다는 뜻, float말고 이거 써도됨*/
}
section nav.menu::after {
  content: "";
  display: block;
  clear: both; /*섹션태그 아래 네비게이션의 끝나는 지점에다가 하나로 감싸안을수 있는 블락태그값을 주고 밑에 있는 요소 아이템들이 위쪽으로 다라붙지 못하게 쓰는 태그 오버 플로우랑 같은 역할을 함 네비게이션은 블락이 되서 밑에 애들이 못올라옴 */
}

section nav.menu a {
  font-size: 20px;
  color: #666;
}
/*이렇게 해도됨*/
section nav.menu a:nth-of-type(1) {
  float: left;
}
section nav.menu a:nth-of-type(2) {
  float: right;
}
section article.profile {
  width: 100%;
  text-align: center;
}
section article.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

section article.profile h1 {
  color: #555;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 1; /*픽셀이 아님 본인의 기본적으로 가지고 있는 높이를 그대로 가져가라는 의미 px단위가 아님*/
}
section article.profile h2 {
  color: #666;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 30px;
}
section a.btnView {
  display: block;
  width: 180px;
  height: 32px;
  background-color: #444;
  border-radius: 16px;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  line-height: 32px; /*가운데 정렬하겠다는 듯 하이갓이랑 같이*/
  text-align: center;
  margin: 0 auto 20px; /*위쪽에서 30을 줬기 때문에 위에는 0*/
}
section ul.contact {
  margin-bottom: 25px;
}
section ul.contact li {
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid#eee;
}
section ul.contact li:last-child {
  border-bottom: none;
}
section ul.contact li i {
  width: 20%;
  text-align: center;
  color: #555;
  font-size: 15px;
  text-shadow: 2px 2px 2px #ddd;
}
section ul.contact li span {
  color: #555;
  font-weight: normal;
  font-size: 11px;
  letter-spacing: 1px; /*자간*/
  font-family: "Orbitron", sans-serif;
}
section nav.others {
  width: 100%; /*정렬하고 싶다는 뜻 정렬할건데 100을 기준으로 정렬하고싶어*/
  text-align: center;
}

section nav.others a {
  display: inline-block; /*위드 값을 줄거니까*/
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
  opacity: 0.4; /*불투명도 1로 갈수록 불투명 0은 투명해짐*/
}
section nav.others a.on {
  opacity: 1;
  filter: saturate(1); /*채도 찐해지게*/
}

section nav.others a:nth-of-type(1) {
  background-color: #35e0f7;
  box-shadow: 5px 5px 10px rgba(74, 255, 255, 0.7);
}
section nav.others a:nth-of-type(2) {
  background-color: #55f5cd;
  box-shadow: 5px 5px 10px rgba(85, 245, 178, 0.7);
}
section nav.others a:nth-of-type(3) {
  background-color: #ff80df;
  box-shadow: 5px 5px 10px rgba(255, 128, 233, 0.7);
}
section nav.others a:nth-of-type(4) {
  background-color: #a794fd;
  box-shadow: 5px 5px 10px rgba(167, 148, 253, 0.7);
}
